<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script type="text/javascript" src="{{ url_for('static', filename='openease.js') }}"></script>
  <link rel="shortcut icon" href="/static/icons/favicon.png" type="image/x-icon" /> 
  
  {% block head %}{% endblock %}
</head>

<body{% block bodyargs %}{% endblock %}>
    <div class="container">
        {% block content_inner %}{% endblock %}
    </div>
</body>
</html>

