{% extends "openease_base.html" %}
  
{% block head %}
<style>
body {
  background-color: #0277bd;
}
</style>
{% endblock %}

{% block body %}
<div class="container p-4">  
    <div class="card" id="user-data">
        <div class="card-header bg-openease-light">{% trans %}Signed in as{% endtrans %}</div>
        <div class="card-body">
            <form>
                <div class="form-group row">
                    <label for="staticUsername" class="col-sm-2 col-form-label">Username</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="staticUsername" value="{{ current_user.username }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{ current_user.email }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="staticToken" class="col-sm-2 col-form-label">API token</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="staticToken" value="{{ session.api_token }}">
                    </div>
                </div>
                <a href="{{ url_for('create_api_token') }}" class="btn btn-default">Create API Token</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}

