{% extends "layout_header.html" %}

{% block content %}
<script>

    function getData(cat,exp,data) {
        for(var i=0; i<data.length; i++) {
            var d = data[i];
            if(d[0]==cat && d[1]==exp) return d;
        };
        return undefined;
    };
    
    function hidePageOverlay() {
      var pageOverlay = document.getElementById('page-overlay');
      if(pageOverlay && that.pageOverlayDisabled) {
          //pageOverlay.style.display = 'none';
          pageOverlay.className = pageOverlay.className.replace("show","hide");
          pageOverlay.style.pointerEvents = "none";
      }
    };
    
    function synchronizeDB(rowData) {
        var url = "/knowrob/admin/mongo_update/"+rowData[0]+"/"+rowData[1];
        var msg = 'Importing episodes for '+rowData[0]+'/'+rowData[1];
        console.log(msg);
        
        iosOverlay({
              text: msg
            , spinner: createSpinner()
        });
        $.post(url, {}, function(data) {
            window.location.reload();
        });
        
        delete source;
    };
    
    $(document).ready(function () {
        var grid_data = [];
        {% for db_name in db_info %}
        grid_data.push([
          "{{ file_info[db_name].category }}",
          "{{ file_info[db_name].experiment }}",
          "{{ db_info[db_name].size }} MB",
          {{ db_info[db_name].objects }},
          "{{ file_info[db_name].size }} MB",
          {{ file_info[db_name].episodes }},
          ""
        ]);
        {% endfor %}

        var mongoTable = $("#mng_table").DataTable({
            data: grid_data,
            autoWidth: false,
            columns: [
                { title: "Category", width: "10%" },
                { title: "Experiment", width: "20%" },
                { title: "DB Size", width: "8%" },
                { title: "DB Objects", width: "8%" },
                { title: "FS Size", width: "10%" },
                { title: "FS Episodes", width: "8%" },
                { targets: -1, data: null, defaultContent: "<button>Import</button>" }
            ],
            select: true,
            ordering: false
        });
        $('#mng_table tbody').on('click', 'button', function () {
            var tr = $(this).parents('tr');
            var category = tr.find('td:first').html();
            var experiment = tr.find('td:nth-child(2)').html();
            synchronizeDB(getData(category, experiment, grid_data));
        });
    });
</script>

<div id="mng_admin_panel" style="width:100%">
    <table id="mng_table" class="stripe table table-striped table-bordered table-hover" style="width:100%; table-layout: fixed; word-wrap:break-word;"></table>
</div>
{% endblock %}