{% extends "openease_base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div class="container p-4 body-bg-color">
    <div class="card" id="user-data">
        <div class="card-header bg-openease-light">{% trans %}NEEM Hub configuration settings{% endtrans %}</div>
        <div class="card-body">
            <form action="{{ url_for('render_neem_hub_settings_post') }}" method="post">

                <!-- MONGO_HOST -->
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">MONGO HOST</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="Provide host name for NEEM Hub configuration" class="form-control" name="MONGO_HOST" value="{{ neemHubSettings.MONGO_HOST }}">
                    </div>
                </div>
                <!-- MONGO_PORT -->
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">MONGO PORT</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="Provide port for NEEM Hub configuration" class="form-control" name="MONGO_PORT" value="{{ neemHubSettings.MONGO_PORT }}">
                    </div>
                </div>
                <!-- MONGO_DB -->
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">MONGO DB</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="Provide db name for NEEM Hub configuration" class="form-control" name="MONGO_DB" value="{{ neemHubSettings.MONGO_DB }}">
                    </div>
                </div>
                <!-- MONGO_USER -->
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">MONGO USER</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="Provide user name for NEEM Hub configuration" class="form-control" name="MONGO_USER" value="{{ neemHubSettings.MONGO_USER }}">
                    </div>
                </div>
                <!-- MONGO_PASS -->
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">MONGO PASS</label>
                    {# Password field #}
                    {% set field = neemHubSettings.MONGO_PASS %}
                    <div id="pw-field" class="col-sm-10 {% if field.errors %}has-error{% endif %}">
                        <input placeholder="Change the password" class="col-sm-6 form-control" id="psw" name="MONGO_PASS"
                                type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" value="{{ neemHubSettings.MONGO_PASS }}" required/>
                        <div class="invalid-feedback">
                            Password is Invalid, it must contain atleast one Uppercase, lowercase, and digit. Additionally, it should be atleast 6 characters long.
                        </div>
                        <br></br>
                    </div>
                </div>
                <button class="col-sm-2 btn btn-sm btn-success" type="submit" name="Update" value="Configure">Configure</button>
                <button class="col-sm-2 btn btn-sm btn-primary" type="button" onclick="window.location.href='{{ url_for('render_neems') }}';" name="Cancel" value="Cancel">Cancel</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    <footer class="bg-dark text-white-50 fixed-bottom">
      <div class="footer-copyright text-center py-3">
        © <span id="myYear"> </span> Copyright: University of Bremen
      </div>
    </footer>
{% endblock %}
