{% extends "pages/knowrob_base.html" %}

{% block head_inner %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/form-js/image_resizer.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/ROSCanvas.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/QueryCard.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/pages/QA.js') }}"></script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/SCSS/split.css') }}"/>
  
  <!--FIXME: openEASE must run offline, replace this!
             But there are some difficulties getting the google charts
             into the current build procedure using browserify.
  -->
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script>
    google.load("visualization", "1", {packages:["timeline"]});
//     google.load("visualization", "1", {packages:["corechart","timeline"]});
  </script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
/* font used to display Prolog code */
.query-font {
  font-size: 20px;
}

#page-content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width:100%;
  height: -o-calc(100% - 108px); /* opera */
  height: -webkit-calc(100% - 108px); /* google, safari */
  height: -moz-calc(100% - 108px); /* firefox */
  height: calc(100% - 108px); /* firefox 53 and newer*/
}
#history {
  background: url("{{ url_for('static', filename='logos/ease-light.png') }}");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}
#user_query {
  width:100%;
  height:100%;
  border-bottom: 1px solid #CCC;
  font-size: 20px;
}
#markers {
  width: 100%;
  height: 100%;
  border: 1px solid #BBB;
  overflow: hidden;
}
#chart {
  width:100%;
  height:100%;
}
#console {
  overflow: revert;
}
#neem-tab-content {
  border-bottom: 1px solid #CCC;
}
#neem-tab li {
  margin: 0 0 0 2px;
}
#neem-tab li a {
  border: 1px solid transparent !important;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
} 
  </style>
{% endblock %}

{% block content %}
<script type="text/javascript">
    var page = new KnowrobUI(flask_user, {
        authentication: '{{ authentication }}',
        neem_id: '{{ neem.neem_id }}',
        ros_url: 'ws' + (location.protocol === 'https:'?'s':'') +
                 '://{{ host_url }}/ws/{{ container_name }}/'
    });
    // call page.init() when the document is ready
    $(document).ready(page.init);
</script>

<div id="page-content">
    <div id="QA-container" class="w-100 split split-horizontal">
        <div id="vis-container" class="split w-100">
            <div id="history" class="split split-horizontal split-content h-100 container-fluid p-3">
            </div>
            <div id="markers" class="split split-horizontal split-content h-100">
            </div>
        </div>

        <div id="console" class="container-fluid p-0 split split-content">
            <div class="h-100 d-flex flex-column">
                <div id="user_query" class="flex-grow-1">member(A, [a,b,c]).</div>
                <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group">
                        <div class="btn-group dropdown">
                            <button id="query-examples" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">Examples <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <!-- TODO: store example queries in some text file. -->
                                <!-- TODO: include contextual queries here? (e.g. about selected object etc.) -->
                                <!-------------------------------------------->
                                <!-------------------------------------------->
                                <h5 class="dropdown-header">NEEM Background</h5>
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" tabindex="-1" href="#">Appearance <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#"
                                            onclick="page.console.query('object_shape(Obj,Shape,Origin,Material).')">What are the shapes of an object?</a></li>
                                        <li><a class="dropdown-item" href="#"
                                            onclick="page.console.query('object_color_rgb(Obj,RGB).')">What colors does an object have?</a></li>
                                    </ul>
                                    <a class="dropdown-item dropdown-toggle" tabindex="-1" href="#">Structure <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#"
                                            onclick="page.console.query('has_component(Obj,Component).')">What are the components of an object?</a></li>
                                        <li><a class="dropdown-item" href="#"
                                            onclick="page.console.query('has_sensor(Obj,Sensor).')">Does an object have a sensor component?</a></li>
                                        <li><a class="dropdown-item" href="#"
                                            onclick="page.console.query('has_feature(Obj,Feature).')">What are the features of an object?</a></li>
                                    </ul>
                                    <a class="dropdown-item dropdown-toggle" tabindex="-1" href="#">Kinematics <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#"
                                            onclick="page.console.query('is_at(Obj,Pose).')">What is the position of an object?</a></li>
                                        <li><a class="dropdown-item" href="#"
                                            onclick="page.console.query('has link(Joint,Obj).')">Is an object linked via a joint?</a></li>
                                        <li><a class="dropdown-item" href="#"
                                            onclick="page.console.query('has joint position limit(Joint,Limit).')">What are the limits of a joint?</a></li>
                                        <li><a class="dropdown-item" href="#"
                                            onclick="page.console.query('data_vis(piechart(chart_id), [\n    title: some_distribution,\n    data: [[a,b,c],[10,30,22]]]).')">What is the kinematic structure of an object?</a></li>
                                    </ul>
                                    <a class="dropdown-item dropdown-toggle" tabindex="-1" href="#">Dynamics <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#"
                                            onclick="page.console.query('has_mass(Obj,Mass)).')">What is the mass of an object?</a></li>
                                        <li><a class="dropdown-item" href="#"
                                            onclick="page.console.query('has_net_force(Obj,Force).')">What is the force acting upon an object?</a></li>
                                    </ul>
                                    <a class="dropdown-item dropdown-toggle" tabindex="-1" href="#">Naive physics <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#"
                                            onclick="page.console.query('affords(Obj,Affordance).')">What can an object be used for?</a></li>
                                    </ul>
                                </li>
                                <!-------------------------------------------->
                                <!-------------------------------------------->
                                <h5 class="dropdown-header">NEEM Narrative</h5>
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" tabindex="-1" href="#">Occurence <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#"
                                            onclick="page.console.query('is_event(Evt).')">When did an event occur?</a></li>
                                        <li><a class="dropdown-item" href="#"
                                            onclick="page.console.query('is_action(Evt).')">When did an action occur?</a></li>
                                    </ul>
                                    <a class="dropdown-item dropdown-toggle" tabindex="-1" href="#">Participation <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#"
                                            onclick="page.console.query('has_participant(Evt,Obj).')">What objects participated in an event?</a></li>
                                        <li><a class="dropdown-item" href="#"
                                            onclick="page.console.query('is_performed_by(Evt,Agent).')">Which agent executed an action?</a></li>
                                    </ul>
                                    <a class="dropdown-item dropdown-toggle" tabindex="-1" href="#">Composition <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#"
                                            onclick="page.console.query('has_phase(Evt,Phase).')">What are the phases of an event?</a></li>
                                        <li><a class="dropdown-item" href="#"
                                            onclick="page.console.query('has_motion_phase(Evt,Phase).')">What are the motions that were performed?</a></li>
                                    </ul>
                                    <a class="dropdown-item dropdown-toggle" tabindex="-1" href="#">Transformation <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#"
                                            onclick="page.console.query('has_transformation(Evt,From,To).')">What are the transformations caused by an event?</a></li>
                                    </ul>
                                    <a class="dropdown-item dropdown-toggle" tabindex="-1" href="#">Conceptualization <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#"
                                            onclick="page.console.query('has_event_type(Evt,EvtType).')">How can an event be interpreted?</a></li>
                                        <li><a class="dropdown-item" href="#"
                                            onclick="page.console.query('executes_task(Evt,Tsk).')">What tasks were executed?</a></li>
                                        <li><a class="dropdown-item" href="#"
                                            onclick="page.console.query('is_failed_action(Act).')">What are the mistakes that happened?</a></li>
                                    </ul>
                                    <a class="dropdown-item dropdown-toggle" tabindex="-1" href="#">Contextualization <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#"
                                            onclick="page.console.query('is_setting_for(Episode,Entity).')">What entities are included?</a></li>
                                        <li><a class="dropdown-item" href="#"
                                            onclick="page.console.query('satisfies_plan(Episode,Plan).')">What is the plan that was executed?</a></li>
                                            
                                            <!--
                                        <li><a class="dropdown-item" href="#"
                                            onclick="page.console.query('data_vis(piechart(chart_id), [\n    title: some_distribution,\n    data: [[a,b,c],[10,30,22]]]).')">What entities are included?</a></li>
                                        <li><a class="dropdown-item" href="#"
                                            onclick="page.console.query('data_vis(barchart(chart_id), [\n    title: some_distribution,\n    data: [[a,b,c],[10,30,22]]]).')">What is the plan that was executed?</a></li>
                                        <li><a class="dropdown-item" href="#"
                                            onclick="page.console.query('data_vis(timeline(chart_id), [\n    title: some_distribution,\n    data: [[a,b,c],[\'0_10\',\'5_15\',\'0_20\']]]).')">What are the mistakes that happened?</a></li>
                                            -->
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <button id="query-view" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">View</button>
                            <div class="dropdown-menu" aria-labelledby="query-view">
                                <a class="dropdown-item" href="#"
                                onclick="page.console.zoomIn()"><i class="fas fa-plus"></i> Larger Text</a>
                                <a class="dropdown-item" href="#"
                                onclick="page.console.zoomOut()"><i class="fas fa-minus"></i> Smaller Text</a>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group" role="group" aria-label="Third group">
                        <button id="btn_query" type="button" class="btn btn-primary"
                                onclick="page.console.query()"><i class="fas fa-question"></i></button>
                        <button id="btn_query_next" type="button" class="btn btn-primary"
                                onclick="page.console.nextSolution()"><i class="fas fa-redo"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- setup split.js -->
<script type="text/javascript">
    Split(['#vis-container', '#console'], {
            gutterSize: 8,
            cursor: 'row-resize',
            direction: 'vertical',
            sizes: [70,30],
            onDragEnd: page.resizeCanvas
    });
    var splitInstance = Split(['#history', '#markers'], {
            gutterSize: 8,
            cursor: 'col-resize',
            sizes: [40,60],
            onDragEnd: page.resizeCanvas
    });

    // min window width for smaller screens
    var minimumWindowWidth = 992;
    $(window).resize(function() {
        //console.log('window was resized : ' + $(window).width());

        if($(window).width() < minimumWindowWidth) {
            // do not show the gutter
            splitInstance.setSizes([5, 95]);
        } else {
            // show the gutter
            splitInstance.setSizes([40, 60]);
        } // end of else
    }); // eof window resize
    
    $('.dropdown-menu a.dropdown-toggle').on('click', function(e) {
        if (!$(this).next().hasClass('show')) {
            $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
        }
        var $subMenu = $(this).next(".dropdown-menu");
        $subMenu.toggleClass('show');
        $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
            $('.dropdown-submenu .show').removeClass("show");
        });
        return false;
    });
</script>

{% endblock %}
