{% extends "pages/knowrob_base.html" %}

{% block head_inner %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/form-js/image_resizer.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/ROSCanvas.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/QueryCard.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/pages/QA.js') }}"></script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/SCSS/split.css') }}"/>
  
  <!--FIXME: openEASE must run offline, replace this!
             But there are some difficulties getting the google charts
             into the current build procedure using browserify.
  -->
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script>
    google.load("visualization", "1", {packages:["timeline"]});
//     google.load("visualization", "1", {packages:["corechart","timeline"]});
  </script>
  
  <style>
/* font used to display Prolog code */
.query-font {
  font-size: 20px;
}

#page-content {
  width:100%;
  height: -o-calc(100% - 108px); /* opera */
  height: -webkit-calc(100% - 108px); /* google, safari */
  height: -moz-calc(100% - 108px); /* firefox */
  height: calc(100% - 108px); /* firefox 53 and newer*/
}
#history {
  background: url("{{ url_for('static', filename='logos/ease-light.png') }}");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
#user_query {
  width:100%;
  height:100%;
  border-bottom: 1px solid #CCC;
  font-size: 20px;
}
#markers {
  width: 100%;
  height: 100%;
  border: 1px solid #BBB;
  overflow: hidden;
}
#chart {
  width:100%;
  height:100%;
}
#neem-tab-content {
  border-bottom: 1px solid #CCC;
}
#neem-tab li {
  margin: 0 0 0 2px;
}
#neem-tab li a {
  border: 1px solid transparent !important;
}
  </style>
{% endblock %}

{% block content %}
<script type="text/javascript">
    var page = new KnowrobUI(flask_user, {
        authentication: '{{ authentication }}',
        ros_url: 'ws' + (location.protocol === 'https:'?'s':'') +
                 '://{{ host_url }}/ws/{{ container_name }}/'
    });
    // call page.init() when the document is ready
    $(document).ready(page.init);
</script>

<div id="page-content">

    <div id="container-west" class="split split-content split-horizontal">
        <div class="h-100 d-flex flex-column">
            <div class="tab-content flex-grow-1" id="neem-tab-content">
                <div id="neem-info"  class="tab-pane fade show active" role="tabpanel" aria-labelledby="neem-info-tab">
                TODO: show NEEM info page
                </div>
                <div id="neem-media" class="tab-pane fade" role="tabpanel" aria-labelledby="neem-media-tab">
                TODO: show NEEM media page
                </div>
            </div>
            <div class="btn-toolbar nav nav-tabs" role="toolbar">
                <ul class="nav nav-tabs" id="neem-tab" role="tablist">
                    <li class="nav-item">
                        <a class="btn btn-light nav-link active" id="neem-info-tab" data-toggle="tab" href="#neem-info" role="tab" aria-controls="neem-info" aria-selected="true">Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-light nav-link" id="neem-media-tab" data-toggle="tab" href="#neem-media" role="tab" aria-controls="neem-media" aria-selected="false">Media</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="container-east" class="split split-horizontal"> 
        <div id="vis-container" class="split w-100">
            <div id="history" class="split split-horizontal split-content h-100 container-fluid p-3">
            </div>
            <div id="markers" class="split split-horizontal split-content h-100">
            </div>
        </div>

        <div id="console" class="container-fluid p-0 split split-content">
            <div class="h-100 d-flex flex-column">
                <div id="user_query" class="flex-grow-1">member(A, [a,b,c]).</div>
                <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group">
                        <div class="btn-group">
                            <button id="query-examples" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Examples</button>
                            <div class="dropdown-menu" aria-labelledby="query-examples">
                                <!-- TODO: store example queries in some text file. -->
                                <!-- TODO: include NEEM example queries here? -->
                                <!-- TODO: include contextual queries here? (e.g. about selected object etc.) -->
                                <h5 class="dropdown-header">Charts</h5>
                                <a class="dropdown-item" href="#"
                                  onclick="page.console.query('data_vis(piechart(chart_id), [\n    title: some_distribution,\n    data: [[a,b,c],[10,30,22]]]).')">Pie Chart</a>
                                <a class="dropdown-item" href="#"
                                  onclick="page.console.query('data_vis(barchart(chart_id), [\n    title: some_distribution,\n    data: [[a,b,c],[10,30,22]]]).')">Bar Chart</a>
                                <a class="dropdown-item" href="#"
                                  onclick="page.console.query('data_vis(timeline(chart_id), [\n    title: some_distribution,\n    data: [[a,b,c],['0_10','5_15','0_20']]]).')">Timeline</a>
                            </div>
                        </div>
                        <div class="btn-group">
                            <button id="query-view" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">View</button>
                            <div class="dropdown-menu" aria-labelledby="query-view">
                                <a class="dropdown-item" href="#"
                                onclick="page.console.zoomIn()"><i class="fas fa-plus"></i> Larger Text</a>
                                <a class="dropdown-item" href="#"
                                onclick="page.console.zoomOut()"><i class="fas fa-minus"></i> Smaller Text</a>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group" role="group" aria-label="Third group">
                        <button id="btn_query" type="button" class="btn btn-primary"
                                onclick="page.console.query()"><i class="fas fa-question"></i></button>
                        <button id="btn_query_next" type="button" class="btn btn-primary"
                                onclick="page.console.nextSolution()"><i class="fas fa-redo"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- setup split.js -->
<script type="text/javascript">
    Split(['#container-west', '#container-east'], {
            gutterSize: 8,
            cursor: 'col-resize',
            sizes: [30,70],
            onDragEnd: page.resizeCanvas
    });
    Split(['#vis-container', '#console'], {
            gutterSize: 8,
            cursor: 'row-resize',
            direction: 'vertical',
            sizes: [70,30],
            onDragEnd: page.resizeCanvas
    });
    Split(['#history', '#markers'], {
            gutterSize: 8,
            cursor: 'col-resize',
            sizes: [50,50],
            onDragEnd: page.resizeCanvas
    });
</script>

{% endblock %}
