{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/SCSS/neems.css') }}"/>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />
{% endblock %}

{% block nav_right %}
<form class="form-inline">
    <div class="md-form my-0">
        <input name="neem_query" id="neem_query" class="form-control mr-sm-2" type="text" placeholder="Search"
               aria-label="Search">
    </div>
</form>
{% endblock %}

{% block body %}
<div class="container-fluid p-4">
    <div class="row">
        {% for neem in neems %}
        <div class="col-xs-12 col-sm-6 col-lg-3 neem-card-container">
            <div class="card neem-card">
                <div class="card-body neem-card-body">
                    <a href="{{ url_for('render_QA_page') }}?neem_id={{ neem.neem_id }}">
                    {% if neem.image == 'None' %}
                        <img src="{{ url_for('static', filename='img/default.jpg') }}"
                             alt="default image" class="neem-img img-fluid"/>
                    {% else %}
                        <img src={{ neem.image }} alt="" class="neem-img img-fluid"/>
                    {%endif %}
                    </a>
                        <h class="neem-name">{{ neem.neem_repo_path }}</h>
                        <h6>{{ neem.created_by }}, {{ neem.created_at }}</h6>
                        <p class="neem-description">{{ neem.description }}</p>
                </div>
                <div class="card-footer neem-links">
                    <a href="{{ url_for('render_QA_page') }}?neem_id={{ neem.neem_id }}"
                       class="btn btn-primary neem-link pull-right">Activate</a>
                    <a href="{{ neem.downloadUrl }}"
                       class="btn btn-info neem-link pull-right">Homepage</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row body-container-row-padding">
        {{ pagination.links }}
    </div>
</div>
{% endblock %}
