{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/SCSS/neems.css') }}"/>
{% endblock %}

{% block nav_right %}
<form class="form-inline">
    <div class="md-form my-0">
        <input name="neem_query" id="neem_query" class="form-control mr-sm-2" type="text" placeholder="Search"
               aria-label="Search">
    </div>
</form>
{% endblock %}

{% block body %}
<div class="container-fluid p-4">
    <div class="row">
        {% for neem in neems %}
        <div class="col-md-3 col-lg-3 card-div">

                <div class="card-body col-md-12 col-sm-12">
                    {% if neem.image == 'None' %}
                        <img src="{{ url_for('static', filename='img/default.jpg') }}" alt="default image" class="card-img-top img-fluid"/>
                    {% else %}
                        <img src={{ neem.image }} alt="" class="card-img-top img-fluid"/>
                    {%endif %}
                    <div class="card-block">
                        <h4>{{ neem.name }}</h4>
                        <h5>{{ neem.created_by }}</h5>
                        <p>{{ neem.description }}</p>
                    </div>

                    <div class="keywords">
                        <center>
                            {% for keyword in neem.keywords %}
                                <div class="keywords-item">{{ keyword }}</div>
                            {% endfor %}
                        </center>
                    </div>
                    <div class="card-icons">
                        <center>
                            <div class="col-lg-3 col-md-3 col-sm-3" style="display: inline">
                                <!-- Agent icons-->
                                {% if neem.agent == "Robot" %}
                                <i class="fas fa-2x fa-robot" title="Agent: {{neem.agent}}"></i>
                                {% elif neem.agent == "Human" %}
                                <i class="fas fa-2x fa-user" title="Agent: {{neem.agent}}"></i>
                                {% elif neem.agent == "VR" %}
                                <i class="fas fa-2x fa-vr-cardboard"
                                              title="Agent: {{neem.agent}}"></i>
                                {% else %}
                                <i class="fas fa-2x fa-bookmark" title="Agent: {{neem.agent}}"></i>
                                {% endif %}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3" style="display: inline">
                                <!-- Activity icon-->
                                <i class="fas fa-2x fa-tasks" title="Activity: {{neem.activity.name}}"></i>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3" style="display: inline">
                                <!-- Env icon-->
                                {% if neem.environment == "Kitchen" %}
                                <i class="fas fa-2x fa-utensils" title="Env: {{neem.environment}}"></i>
                                {% elif neem.environment == "Home" %}
                                <i class="fas fa-2x fa-home" title="Env: {{neem.environment}}"></i>
                                {% elif neem.environment == "VR" %}
                                <i class="fas fa-2x fa-vr-cardboard"
                                              title="Env: {{neem.environment}}"></i>
                                {% elif neem.environment == "Lab" %}
                                <i class="fas fa-2x fa-vial" title="Env: {{neem.environment}}"></i>
                                {% else %}
                                <i class="fas fa-2x fa-industry" title="Env: {{neem.environment}}"></i>
                                {% endif %}
                            </div>
                            <!-- gitlab repo url  -->
                            <div class="col-lg-3 col-md-3 col-sm-3" style="display: inline">
                                <!-- Env icon-->
                                <a href="{{ neem.downloadUrl }}" target="_blank"><i class="fab fa-2x fa-github"
                                                                                    title="{{neem.neem_repo_path}}"></i></a>
                            </div>
                        </center>
                    </div>


                    <!--                    <h4 class="card-title">{{ neem.name }}</h4>-->

                    <!--                    <p> {{ neem.description }}</p>-->
                    <!--                    <center>-->
                    <!--                        <div class="col-lg-3 col-md-3 col-sm-3" style="display: inline">-->
                    <!--                            &lt;!&ndash; Agent icons&ndash;&gt;-->
                    <!--                            {% if neem.agent == "Robot" %}-->
                    <!--                            <a href="http://wiki.ros.org/Robots/PR2" target="_blank"><i-->
                    <!--                                    class="fas fa-2x fa-robot" title="Agent: {{neem.agent}}"></i></a>-->
                    <!--                            {% elif neem.agent == "Human" %}-->
                    <!--                            <a href=""><i class="fas fa-2x fa-user" title="Agent: {{neem.agent}}"></i></a>-->
                    <!--                            {% elif neem.agent == "VR" %}-->
                    <!--                            <a href=""><i class="fas fa-2x fa-vr-cardboard"-->
                    <!--                                          title="Agent: {{neem.agent}}"></i></a>-->
                    <!--                            {% else %}-->
                    <!--                            <a href=""><i class="fas fa-2x fa-bookmark" title="Agent: {{neem.agent}}"></i></a>-->
                    <!--                            {% endif %}-->
                    <!--                        </div>-->
                    <!--                        <div class="col-lg-3 col-md-3 col-sm-3" style="display: inline">-->
                    <!--                            &lt;!&ndash; Activity icon&ndash;&gt;-->
                    <!--                            <a href="{{neem.activity.url}}" target="_blank"><i-->
                    <!--                                    class="fas fa-2x fa-tasks" title="Activity: {{neem.activity.name}}"></i></a>-->
                    <!--                        </div>-->
                    <!--                        <div class="col-lg-3 col-md-3 col-sm-3" style="display: inline">-->
                    <!--                            &lt;!&ndash; Env icon&ndash;&gt;-->
                    <!--                            {% if neem.environment == "Kitchen" %}-->
                    <!--                            <a href="" target="_blank"><i-->
                    <!--                                    class="fas fa-utensils" title="Env: {{neem.environment}}"></i></a>-->
                    <!--                            {% elif neem.environment == "Home" %}-->
                    <!--                            <a href=""><i class="fas fa-2x fa-home" title="Env: {{neem.environment}}"></i></a>-->
                    <!--                            {% elif neem.environment == "VR" %}-->
                    <!--                            <a href=""><i class="fas fa-2x fa-vr-cardboard" title="Env: {{neem.environment}}"></i></a>-->
                    <!--                            {% elif neem.environment == "Lab" %}-->
                    <!--                            <a href=""><i class="fas fa-2x fa-vial" title="Env: {{neem.environment}}"></i></a>-->
                    <!--                            {% else %}-->
                    <!--                            <a href=""><i class="fas fa-2x fa-industry" title="Env: {{neem.environment}}"></i></a>-->
                    <!--                            {% endif %}-->
                    <!--                        </div>-->
                    <!--                        &lt;!&ndash; gitlab repo url  &ndash;&gt;-->
                    <!--                        <div class="col-lg-3 col-md-3 col-sm-3" style="display: inline">-->
                    <!--                            &lt;!&ndash; Env icon&ndash;&gt;-->
                    <!--                            <a href="{{ neem.downloadUrl }}" target="_blank"><i class="fab fa-2x fa-github" title="{{neem.neem_repo_path}}"></i></a>-->
                    <!--                        </div>-->
                    <!--                    </center>-->


                    <!--                    <br>-->
                    <!--                    <table class="card-table card-words-break table">-->
                    <!--                        <tbody>-->
                    <!--                        <tr style="word-wrap: break-word;">-->
                    <!--                            <td>CreatedBy</td>-->
                    <!--                            <td>{{ neem.created_by }}</td>-->
                    <!--                        </tr>-->
                    <!--                        <tr>-->
                    <!--                            <td>Keywords</td>-->
                    <!--                            <td class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">-->
                    <!--                                {% for keyword in neem.keywords %}-->
                    <!--                                <span>{{ keyword }}</span>-->
                    <!--                                {% if not loop.last %}-->
                    <!--                                ,-->
                    <!--                                {% endif %}-->
                    <!--                                {% endfor %}-->
                    <!--                            </td>-->
                    <!--                        </tr>-->
                    <!--                        <tr>-->
                    <!--                            <td>Created At</td>-->
                    <!--                            <td>{{ neem.created_at }}</td>-->
                    <!--                        </tr>-->

                    <!--                        </tbody>-->
                    <!--                    </table>-->
                </div>

        </div>
        {% endfor %}
    </div>
    <div class="row body-container-row-padding">
        {{ pagination.links }}
    </div>
</div>

<script>
$(function () {
  $('[data-toggle="popover"]').popover()
});



</script>
{% endblock %}
