{% extends "base.html" %}

{% block head %}
<title>News</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
<meta name="description" content=""/>
<meta name="keywords" content=""/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/SCSS/news.css') }}"/>
{% endblock %}

{% block nav_right %}
<form class="form-inline">
    <div class="md-form my-0">
        <input name="news_query" id="news_query" class="form-control mr-sm-2" type="text" placeholder="Search"
               aria-label="Search">
    </div>
</form>
{% endblock %}

{% block body %}
<div class="container">
    <div class="news-block">
        <div class="row justify-content-center text-center">
            {{ pagination.info }}
        </div>
        {% for entry in news_articles %}
                <a class="row flex-column news-card" href="/news_article/{{ entry.id }}">
                    <h3 class="mt-1">
                        {{ entry.title }}
                    </h3>
                    <p class="mt-2">
                        {{ entry.text | safe }}
                    </p>
                    <p class="mb-0 text-right">
                        <i>written by {{ entry.author.first_name }} {{ entry.author.last_name }}, {{ entry.publication_date }}</i>
                    </p>
                </a>
        {% endfor %}
        <div class="row pt-3 justify-content-center">
            {{ pagination.links }}
        </div>
    </div>
</div>
{% endblock %}
