{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/SCSS/examples.css') }}"/>
{% endblock %}

{% block body %}
    <section id="examples-header">
        <div id="header-content-wrapper">
            <div id="examples-header-text">
                <div id="examples-title">Examples by Topic</div>
                <div id="examples-desc">What can you ask openEASE about?</div>
            </div>
            <div id="search-bar"></div>
        </div>
    </section>

    <section id="examples-body" class="accordion">
    {%for section in query_sections%}
        <div class="example-section">
            <div class="section-title-wrapper">
                <div class="section-title">{{ section.name }}</div>
            </div>

            <div class="section-examples w-100 text-truncate">
            {%for subsection in section.sub_sections%}
                <div class="example-page">
                    <div class="example-link-wrapper">
                        <a href="#" class="example-link"
                           data-toggle="collapse" data-target="#queries-{{ subsection.id }}"
                           aria-expanded="false" aria-controls="queries-{{ subsection.id }}">
                            <i class="fas {{ subsection.icon }}"></i> {{ subsection.name }}
                        </a>
                    </div>
                </div>
            {%endfor%}
            </div>

            {%for subsection in section.sub_sections%}
                <div id="queries-{{ subsection.id }}" class="collapse" data-parent="#examples-body"
                  aria-labelledby="{{ subsection.name }}">
                    <div class="card-body">
                        {{ subsection.name }}
                    </div>
                </div>
            {%endfor%}
        </div>
    {%endfor%}
    </section>
{% endblock %}
