{% extends "base.html" %}

{% block head %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/form-js/image_resizer.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/ROSCanvas.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/Playback.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/Blackboard.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/pages/QA.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/SCSS/page.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/SCSS/console.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/SCSS/canvas.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/SCSS/blackboard.css') }}"/>
  
    <!--FIXME: openEASE must run offline, replace this!
        But there are some difficulties getting the google charts
        into the current build procedure using browserify.
    -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script>
        google.load("visualization", "1", {packages:["timeline"]});
        //google.load("visualization", "1", {packages:["corechart","timeline"]});
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block body %}
    <script type="text/javascript">
        const page = new KnowrobUI(flask_user, {
            authentication: '{{ authentication }}',
            neem_id: '{{ neem.neem_id }}',
            ros_url: 'ws' + (location.protocol === 'https:'?'s':'') +
                     '://{{ host_url }}/ws/{{ container_name }}/'
        });
        // call page.init() when the document is ready
        $(document).ready(page.init);
    </script>

    <div id="QA-container" class="w-100 h-100 container-fluid">
        <div class="row h-100" style="overflow: auto">
            <!-- left column -->
            <div class="col-sm-2"></div>
            <!-- central column -->
            <div class="col-sm-8">
                <div class="text-center p-2">
                    <!-- TODO: design a banner image? -->
                    <img src="{{ url_for('static', filename='img/ease-logo_openEASE_neu2018.png') }}"
                         class="img-fluid" id="openease-logo-enlarged">
                </div>
                <div>
                    <div id="user_query">is_event(Evt).</div>
                    <div id="query_buttons">
                        <a id="btn_query" href="#" onclick="page.console.query()">
                            <i id="query-icon" class="fas fa-spinner fa-spin"></i>
                        </a>
                    </div>
                </div>
                <div id="query_links" class="text-right">
                    <a href="#"><i class="fas fa-th"></i> Examples</a>
                </div>

                <div id="input" class="container-fluid p-3 collapse">
                    <div class="card border-light ease-border">
                        <div class="card-header ease-dark">Input</div>
                        <div class="card-body">
                            <div id="input-text" class="card-text bg-transparent w-100 query-font"></div>
                        </div>
                        <div class="card-footer">
                            <a href="#"><i class="fas fa-redo"></i> Re-compute</a>
                            <a id="btn_query_next" href="#" class="collapse"
                                onclick="page.nextSolution()"><i class="fas fa-arrow-right"></i> Next solution</a>
                        </div>
                    </div>
                </div>

                <div id="blackboard-container" class="container-fluid p-3 collapse">
                    <div class="card border-light ease-border">
                        <div id="blackboard"></div>
                        <div class="card-footer">
                            <a href="#"><i class="fas fa-download"></i> Download Page</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- right column -->
            <div class="col-sm-2">
            </div>
        </div>
    </div>

{% endblock %}
