{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/SCSS/tutorials.css') }}"/>

    <script type="text/javascript" src="{{ url_for('static', filename='js/EntityFormatter.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/ResponseWidget.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/BindingTable.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/Helper.js') }}"></script>

    <!--FIXME: openEASE must run offline, replace this!
        But there are some difficulties getting the google charts
        into the current build procedure using browserify.
    -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script>
        google.load("visualization", "1", {packages:["timeline"]});
        //google.load("visualization", "1", {packages:["corechart","timeline"]});
    </script>
{% endblock %}

{% block body %}
    <script type="text/javascript">
        // connect to ROS on host via websocket
        const ros_url = 'ws' + (location.protocol === 'https:'?'s':'') +
                '://{{ host_url }}/ws/{{ container_name }}/';
        const client = new ROSClient({
            flask_user: flask_user,
            ros_url: ros_url,
            authentication: '{{ authentication }}',
            auth_url: '/api/v1.0/auth_by_session'
        });
        let ros = undefined;
        let formatter = new EntityFormatter();

        // call init() when the document is ready
        const init = function () {
            client.connect(function(new_ros) {
                console.info('Connected to ROS.');
                ros = new_ros;
                waitForProlog(ros, function() {
                    console.info('Connected to KnowRob.');
                    formatter.connect(ros, function() {});
                });
            });
            //
            const first_tut = 'prolog';
            update_description(first_tut);
            request_tutorial(first_tut);
        };
        $(document).ready(init);
    </script>

    <script type="text/javascript">
        let tut_pages=[];
        let tut_index=0;
        let curr_tut_id='';
        let last_pl = undefined;
        let last_pl_div = undefined;

        function add_query_result(solution_div, response) {
            let widget = new ResponseWidget({
                formatter: formatter
            });
            let div = widget.create(response);
            div.removeClass("card-body");
            solution_div.html('');
            solution_div.append(div);
            solution_div.collapse("show");
		}

        function ask_query(solution_div, query_text) {
            if(last_pl_div === solution_div && last_pl != undefined && last_pl.finished === false) {
                last_pl.nextQuery(function(result) {
                    add_query_result(solution_div, result);
                });
            }
            else {
                if(last_pl_div != solution_div && last_pl != undefined && last_pl.finished === false) {
                    last_pl.finishClient();
                }
                last_pl = new ROSPrologClient(ros, {});
                last_pl.jsonQuery(query_text, function(result) {
                    add_query_result(solution_div, result);
                });
            }
            last_pl_div = solution_div;
        };

        function consult_code(solution_div, code_string, editor_index) {
            let rule_id = curr_tut_id + '_' + tut_index + '_' + editor_index;
            // FIXME double quotes in code_string must be escaped because we wrap
            //         the whole text in double quotes
            let query_text = "ease_consult_string('" +
                rule_id + "', \"" +  code_string + "\").";
            const pl = new ROSPrologClient(ros, {});
            pl.jsonQuery(query_text, function(response) {
                pl.finishClient();
                //
                let widget = new ResponseWidget({
                    formatter: formatter
                });
                let div = widget.create(response);
                div.removeClass("card-body");
                solution_div.html('');
                solution_div.append(div);
                solution_div.collapse("show");
            });
        };

        function ace_init(query_id, options) {
            options = options || {};
            // FIXME redundant
            let queryInput = ace.edit(query_id);
            //queryInput.setTheme("ace/theme/solarized_light");
            queryInput.getSession().setMode("ace/mode/prolog");
            queryInput.getSession().setUseWrapMode(true);
            queryInput.setOptions({
                // editor options
                selectionStyle: "text",
                highlightActiveLine: false,
                highlightSelectedWord: false,
                readOnly: options.readOnly,
                cursorStyle: "slim",
                behavioursEnabled: false,
                wrapBehavioursEnabled: false,
                autoScrollEditorIntoView: false,
                enableMultiselect: false,
                // renderer options
                highlightGutterLine: false,
                maxLines: 999,
                showGutter: false,
                showLineNumbers: false,
                showFoldWidgets: false,
                printMarginColumn: false,
                showPrintMargin: false
            });
            queryInput.setShowPrintMargin(false);
            queryInput.renderer.setScrollMargin(6, 6, 6, 6);
            queryInput.resize(true);
        }

        function load_page(index) {
            // remember active index
            tut_index = index;
            // get tutorial HTML data
            const tut_data = tut_pages[index];

            // load tutorial HTML text
            $('#tutorial-header').text(tut_data[0]);
            $('#tutorial-content').html(tut_data[1]);

            // setup code sections
            let query_counter=0;
            $("pre code").each(function() {
                const parent = $(this).parent();
                const query_id = "query-"+query_counter;
                query_counter += 1;
                // wrap code elements into new parent
                const new_parent = $("<div>");
                new_parent.addClass("query-container");
                parent.remove($(this));
                parent.append(new_parent);
                new_parent.append($(this));
                // remove trailing newline character
                $(this).text($(this).text().trim());
                // and to the code block
                $(this).attr("id",query_id);
                $(this).addClass("query-input");
                const code_div = $(this);
                // solution div
                const solution_div = $("<div>");
                solution_div.addClass("query-solution collapse");
                parent.append(solution_div);
                // create a div to catch events
                const evt_catcher = $("<div>");
                evt_catcher.addClass("query-event-catcher");
                evt_catcher.click(function () {
                    ask_query(solution_div, ace.edit(query_id).getValue());
                });
                new_parent.prepend(evt_catcher);
                // setup as ace editor
                ace_init(query_id, {
                    readOnly: true
                });
            });

            // ssetup editor sections
            $(".tut-editor").each(function() {
                const this_count = query_counter;
                const editor_id = "editor-"+query_counter;
                const this_editor = $(this);
                // remove trailing newline character
                const code_string = $(this).text().trim();
                query_counter += 1;

                // create editor div
                const editor_div = $("<div>");
                editor_div.attr("id",editor_id);
                editor_div.addClass("tut-editor");
                editor_div.text(code_string);

                // solution div
                const solution_div = $("<div>");
                solution_div.addClass("query-solution collapse");

                $(this).removeClass("tut-editor");
                $(this).addClass("query-container");
                $(this).text('');
                $(this).append(editor_div);
                $(this).append(solution_div);

                ace_init(editor_id, { readOnly: false });
                // add icon
                const icon_a = $("<a>");
                const icon_i = $("<i>");
                icon_a.addClass("query-button");
                icon_i.addClass("query-icon fas fa-cogs");
                icon_a.append(icon_i);
                editor_div.append(icon_a);
                icon_a.click(function() {
                    consult_code(solution_div,
                        ace.edit(editor_id).getValue(),
                        this_count);
                });
            });

            // collapsing
            $('#tutorial-container').collapse("show");
            if (index > 0) {
                $('#prev-button').collapse("show");
            }
            else {
                $('#prev-button').collapse("hide");
            }
            if (index+1 < tut_pages.length) {
                $('#next-button').collapse("show");
            }
            else {
                $('#next-button').collapse("hide");
            }
        }

        function next_page() {
            const next_index = tut_index+1;
            if(next_index<tut_pages.length) {
                load_page(next_index);
            }
        }

        function prev_page() {
            const prev_index = tut_index-1;
            if(prev_index>=0) {
                load_page(prev_index);
            }
        }

        function load_tutorial_data(data) {
            tut_pages = data.pages;
            load_page(0);
        };

        function request_tutorial(tutorial_id) {
            $.ajax({
                url: "/tutorials/get",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({ tutorial: tutorial_id }),
                dataType: "json"
            }).done(function(data) {
                load_tutorial_data(data);
                curr_tut_id = tutorial_id;
            });
        };

        function update_description(tut_id) {
            $('#tut-description').text(
                $('#tut-opt-'+tut_id).attr('description'));
        };

        $(document).ready(function() {
            $('#tut-select').change(function(){
                let tut_id = $(this).val();
                update_description(tut_id);
                request_tutorial(tut_id);
            });
        });
</script>

    <div id="QA-container" class="w-100 h-100 container-fluid">
        <div class="row h-100" style="overflow: auto">
            <!-- left column -->
            <div class="col-sm-2"></div>
            <!-- central column -->
            <div class="col-sm-8">
                <div id="qa-header" class="text-center p-2">
                    <img src="{{ url_for('static', filename='img/logo_openEASE_neu2018.png') }}"
                         class="img-fluid" id="ease-logo-enlarged">
                </div>

                <div id="tutorial-navigator" class="container-fluid p-3">
                    <div class="card border-light ease-border">
                        <div class="card-header ease-dark">Select a Tutorial</div>
                        <div class="card-body">
                            <select id="tut-select" class="browser-default custom-select">
                                {%for tut in tutorial_names%}
                                <option id="tut-opt-{{ tut.id }}"
                                        {% if tut.selected %}
                                        selected="selected"
                                        {% endif %}
                                        description="{{ tut.description }}">{{ tut.title }}</option>
                                {%endfor%}
                            </select>
                            <div id="tut-description" class="card-body">
                            </div>
                        </div>
                    </div>
                </div>

                <div id="tutorial-container" class="container-fluid p-3 collapse">
                    <div class="card border-light ease-border">
                        <div id="tutorial-header" class="card-header ease-dark"></div>
                        <div id="tutorial-content" class="p-3"></div>
                        <div class="card-footer">
                            <a id="prev-button" href="#" onclick="prev_page()">
                                <i class="fas fa-arrow-left"></i> Previous</a>
                            <a id="next-button" href="#" onclick="next_page()">
                                Next <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- right column -->
            <div class="col-sm-2">
            </div>
        </div>
    </div>
{% endblock %}
