{% extends "pages/knowrob_base.html" %}

{% block head_inner %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/form-js/image_resizer.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/ROSCanvas.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/pages/replay-frame.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/SCSS/split.css') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block content %}
    <script type="text/javascript">
        const page = new KnowrobReplayUI(flask_user, {
            authentication: '{{ authentication }}',
            neem_id: '{{ neem.neem_id }}',
            ros_url: 'ws' + (location.protocol === 'https:' ? 's' : '') +
                '://{{ host_url }}/ws/{{ container_name }}/'
        });
        // call page.init() when the document is ready
        $(document).ready(page.init);
    </script>

    <div id="page-content">
        <div class="container-fluid p-0 split split-horizontal" id="replay-layout-west">
            <div class="content-box replay-box" id="replay-configuration-box">
                <h1 class="content-box-header">Settings</h1>

                <form id="replay-configuration-form" action="" class="form"
                      role="form" onsubmit="return false">
                    <div id="replay-start-time-field">
                        <label for="replay-start-time">Video Start Time</label>
                        <input id="replay-start-time" type="range" min="0" max="0"
                               value="0" oninput="page.updateStartTime()" />
                        <div id="replay-start-value">00:00</div>
                    </div>

                    <div id="replay-end-time-field" class="form-group">
                        <label for="replay-end-time">Video End Time</label>
                        <input id="replay-end-time" type="range" min="0" max="0" value="0"
                               oninput="page.updateEndTime()" />
                        <div id="replay-end-value">00:00</div>
                    </div>

                    <div id="replay-fps-field" class="form-group">
                        <label for="replay-fps">Frames Per Second</label>
                        <input id="replay-fps" type="number" value="6" />
                    </div>

                    <div id="init_query-field" class="form-group">
                        <label for="init_query">Initial Query</label>
                        <div class="console_text" id="init_query"></div>
                    </div>

                    <div id="user_query-field" class="form-group">
                        <label for="user_query">Animation Query</label>
                        <div class="console_text" id="user_query"></div>
                    </div>

                </form>
            </div>
            
            <div class="content-box replay-box" id="replay-panel-box">
                <h1 class="content-box-header">Replay</h1>

                <form id="replay-panel-form" action="" class="form" role="form" onsubmit="return false">
                    <div id="replay-progress-field" class="form-group">
                        <label for="replay-progress-bar">Progress</label>
                        <input id="replay-progress-bar" type="range" min="0" max="100" value="0" disabled />
                        <div id="replay-progress-value">00:00</div>
                    </div>
                    <button id="replay-toggle-button" class="btn btn-lg btn-primary btn-block"
                            onclick="page.startStreaming()">Start</button>
                </form>
            </div>
        </div>

        <div id="replay-canvas" class="split split-horizontal">
            <div id="markers"></div>
        </div>
    </div>

    <!-- setup split.js -->
    <script type="text/javascript">
        Split(['#replay-layout-west', '#replay-canvas'], {
                gutterSize: 8,
                cursor: 'col-resize',
                sizes: [30,70],
                onDragEnd: page.resizeCanvas
        });
    </script>

{% endblock %}
