/*****************************************/
/************** Menu Bar *****************/
/*****************************************/

.metanav {
  padding-bottom: 22px;
  border-bottom: 1px solid #a9a9b2;
  background-color: #eaeaea;
}

.menu,
.menu ul,
.menu li,
.menu a {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
}

.menu {
  z-index: 5000;
  white-space:nowrap;
}
.menu li {
  position: relative;
  float: left;
  display: block;
  z-index: 5000;
}
/* Submenu */
.menu ul {
  position: absolute;
  background: #ededed;
  border: 1px solid #a9a9b2;
  z-index: 5000;
  top: 18px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.menu li:hover > ul {
  opacity: 1;
  pointer-events: auto;
}
/* Menu items */
.menu li a {
  display: block;
  padding: 0px 14px;
  border-left: 1px solid #a9a9b2;
  border-right: 1px solid #bfc0c8;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #555555;
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  -ms-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
  outline: 0;
}
.menu li a:focus{
  outline:0; /*removes the dotted border*/
}
.menu li:hover > a { color: #47C; }
.menu li:first-child a { border-left: none; padding-left: 0px; }
.menu li:last-child a { border-right: none; padding-right: 0px; }
.submenu li:first-child a { padding-left: 4px; }
.submenu li:last-child a { padding-right: 4px; }
.submenu li.zero_size:first-child a { padding-left: 0px; }
.submenu li.zero_size:last-child a { padding-right: 0px; }
#frame-menu-left { margin-left: 28px; }
#frame-menu-left a:hover { text-decoration: none; }
#frame-menu-left li:first-child a { padding-left: 4px; }
/* Submenus */
.menu ul li {
  pointer-events: none;
  z-index: 5000;
  text-align: left;
  float: none;
  margin: 3px 0;
  padding: 0 5px;

}
.menu li:hover > ul li { pointer-events: auto; }
/* Submenu items */
.menu ul li a {
  padding: 4px 4px 4px 4px;
  border: none;
}
/* Sub-Submenus */
.menu li ul li ul { left: 100%; }
.menu li ul li:hover > ul { top: -4px; }
.menu li ul li:hover { z-index: 5001; }
.menu li.submenu > a:after { content: ' o';}


.mega_menu {
  position: absolute;
  background: #fffef8;
  border: 1px solid #a9a9b2;
  overflow-x: hidden;
}
/* Slide menu from top */
li.zero_size > div {
  top: -64px;
  -webkit-transition: top 0.25s ease-out;
  -moz-transition: top 0.25s ease-out;
  -o-transition: top 0.25s ease-out;
  -ms-transition: top 0.25s ease-out;
  transition: top 0.25s ease-out;
}
li:hover ul li.zero_size > div { top: 0px; }
.mega_menu_column {
  margin: 10px 0;
  padding: 0 10px;
  float: left;
  margin-top: -10px;
}
.menu .mega_menu_column a { color: #4C7FD2; }
.menu .mega_menu_column a:hover { text-decoration: underline; }
.mega_menu_column h4 {
  font-family: 'Oswald', sans-serif;
  color: #346F98;
}
.mega_menu_column h3 {
  font-family: 'Oswald', sans-serif;
  width: 100%;
  border-bottom: 2px dotted #144F78;
  color: #144F78;
}
.category-episodes {
  max-height: 250px;
  overflow-y: auto;
}
