/*****************************************/
/************* Replay page ***************/
/*****************************************/

#replay-layout-west {
  background: none;
  overflow-y: auto;
}
.replay-box {
  margin-bottom: 8px;
  width: -o-calc(100% - 8px); /* opera */
  width: -webkit-calc(100% - 8px); /* google, safari */
  width: -moz-calc(100% - 8px); /* firefox */
  width: calc(100% - 8px); /* firefox 53 and newer */
  border: 1px solid #a9a9b2;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.replay-box-hidden {
  opacity: 0;
}
.replay-box #init_query {
  height: 100px;
  border: 1px solid #a9a9b2;
  font: 12px "Monaco","Menlo","Ubuntu Mono","Consolas","source-code-pro",monospace;
}
.replay-box #user_query {
  height: 100px;
  border: 1px solid #a9a9b2;
  font: 12px "Monaco","Menlo","Ubuntu Mono","Consolas","source-code-pro",monospace;
}
#replay-selection-box {
  padding-bottom: 0px;
}
#replay-configuration-box {
  padding-bottom: 0px;
}
#replay-panel-box {
  padding-bottom: 10px;
}
.replay-box input {
  border: none;
  background: none;
  width: 100%;
  padding: 4px;
}
#replay-video-title-text {
  background: #fff !important;
  border: 1px solid #a9a9b2 !important;
  text-align: center;
}
#replay-episode-dropdown {
  background: #fff !important;
  border: 1px solid #a9a9b2 !important;
  text-align: center;
  width: 100%;
  padding: 4px;
}
#replay-start-value {
  position: relative;
  float: right;
  top: -46px;
}
#replay-end-value {
  position: relative;
  float: right;
  top: -46px;
}
#replay-progress-value {
  position: relative;
  float: right;
  top: -46px;
}
#replay-fps {
  background: #fff !important;
  border: 1px solid #a9a9b2 !important;
  text-align: center;
}

.replay-box form.form {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#replay-episode-list {
  width: 100%;
  top: 33px;
}
#replay-episode-value {
  text-align: center;
  padding: 8px 6px 8px 6px;
  font-weight: bold;
  background: #c9c9c9;
  border: 1px solid #a9a9b2;
}
#replay-episode-field  a {
  text-decoration: none !important;
  outline: none;
}