{% extends "openease_base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div class="container p-4 body-bg-color">
    <div class="card" id="user-data">
        <div class="card-header bg-openease-light">{% trans %}NEEM Hub configuration settings{% endtrans %}</div>
        <div class="card-body">
            <p>It seems you have either not configured NEEM Hub settings properly or at all. Please press button to go to configuration page.</p>
            <button class="col-sm-2 btn btn-sm btn-primary" type="button"
                    onclick="window.location.href='{{ url_for('render_neem_hub_settings') }}';"
                    name="Go to settings" value="Go to settings">Go to settings</button>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    <footer class="bg-dark text-white-50 fixed-bottom">
      <div class="footer-copyright text-center py-3">
        © <span id="myYear"> </span> Copyright: University of Bremen
      </div>
    </footer>
<script type="text/javascript" src="{{ url_for('static', filename='js/form-js/copyright_year.js') }}"></script>
{% endblock %}