{% extends "overview/overview_template.html" %}

{% block overview_title %}
    Humans Setting the Table
{% endblock %}

{% block overview_main %}
    <div class="row">
        <div class="col-12 col-md-7 px-0">
            <p>
                A large part of the knowledge that robots need to accomplish human-scale manipulation tasks can be acquired by watching humans perform these tasks and interpreting the observed activity to build activity models at multiple levels of abstraction. An excellent source for such research is the Kitchen Data Set.
            </p>
            <p>
                The dataset is provided to foster research in the areas of markerless human motion capture, motion segmentation and human activity recognition. The recorded activities have been selected with the intention to provide realistic and seemingly natural motions, and consist of everyday manipulation activities in a natural kitchen environment. It should aid researchers in these fields by providing a comprehensive collection of sensory input data that can be used to try out and to verify their algorithms. It is also meant to serve as a benchmark for comparative studies given the manually annotated “ground truth” labels of the underlying actions.
            </p>
            <a type="button" class="btn link-button"
            href="https://neemgit.informatik.uni-bremen.de/raw/humans-setting-the-table"
            target="_blank" rel="noopener noreferrer">
                Knowledge Base
            </a>
            <a type="button" class="btn link-button"
            href="http://www.open-ease.org/humans-setting-the-table-related-work/"
            target="_blank" rel="noopener noreferrer">
                Publications
            </a>
        </div>
        <div class="col-12 col-md-5 px-0 mt-4 mt-md-0 mb-3">
            <div class="pl-md-3">
                <a href="{{ url_for('static', filename='img/overview/humans-setting-table/image_preview.png')}}">
                    <img class="col-12 col-xl-10 offset-xl-1" 
                    src="{{ url_for('static', filename='img/overview/humans-setting-table/image_preview.png')}}"
                    alt="">
                </a>
            </div>
        </div>
    </div>
{% endblock %}


{% block details %}
    <p>
        The Kitchen Data Set contains observations of several subjects setting a table in different ways. Some perform the activity like a robot would do, transporting the items one-by-one, other subjects behave more natural and grasp as many objects as they can at once. In addition, there are two episodes where the subjects repetitively performed reaching and grasping actions. Applications of the data are mainly in the areas of human motion tracking, motion segmentation, and activity recognition.
    </p>
    
    <h3>
        Description of the Data
    </h3>
    <p>
        To provide sufficient information for recognizing and characterizing the observed activities, we recorded the following multi-modal sensor data:
    </p>
    <ul class="details-list">
        <li>
            Video data from four fixed, overhead cameras (384×288 pixels RGB color or 780×582 pixels raw Bayer pattern, at 25Hz)
        </li>
        <li>
            Motion capture data (*.bvh file format) extracted from the videos using our markerless full-body MeMoMan tracker
        </li>
        <li>
            RFID tag readings from three fixed readers embedded in the environment (sample rate 2Hz)
        </li>
        <li>
            Magnetic (reed) sensors detecting when a door or drawer is opened. (sample rate 10Hz)
        </li>
        <li>
            Action labels (the data is labeled separately for the left hand, the right hand, and the trunk of the person)
        </li>
    </ul>
{% endblock %}


{% block acknowledgements_class %}
{% endblock %}

{% block acknowledgements %}
    <p>
        Partly supported by DFG
    </p>
    <div class="row pt-md-3 pb-5 justify-content-center">
        <a class="mx-md-3" href="http://autonomous-learning.org/"
        target="_blank" rel="noopener noreferrer">
            <img class="col-12"
            src="{{ url_for('static', filename='img/overview/acknowledgements/dfg_logo.jpg')}}"
            alt="dfg logo">
        </a>
    </div>
{% endblock %}