{% extends "base.html" %}

{% block head %}
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
<meta name="description" content=""/>
<meta name="keywords" content=""/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/SCSS/overview.css') }}"/>
{% endblock %}

{% block nav_right %}
{% endblock %}

{% block body %}

<div class="container">
    <div class="row flex-column">
        <h1>
            {% block overview_title %}{% endblock %}
        </h1>

        {% block overview_main %}{% endblock %}
    </div>

    <div class="row flex-column">
        <h1>
            Details
        </h1>

        {% block details %}{% endblock %}

        <h3 class="{% block acknowledgements_class %}{% endblock %}">
            Acknowledgements
        </h3>

        {% block acknowledgements %}{% endblock %}

    </div>
</div>

{% endblock %}
