{% extends "overview/overview_template.html" %}

{% block overview_title %}
    Safe Human-Robot Activity
{% endblock %}

{% block overview_main %}
<div class="row mb-md-3 mb-lg-4">
    <div class="col-md-9 col-lg-8 px-0">
        The Safe Human-Robot Activity dataset contains information from an experiment in which a robot shares its workspace with a human co-worker. It contains poses of perceived human body parts, estimated external forces acting on the robot arms, the robot joint state, and semantic descriptions of performed actions and safety reactions. We believe that recalling safety-related events through such a knowledge base will make robots safety-aware.
    </div>
    <div class="col-md-3 col-lg-4 mt-2 mb-3">
        <div class="row h-100 flex-md-column justify-content-center align-items-center">
            <a type="button" class="btn link-button my-1"
            href="https://neemgit.informatik.uni-bremen.de/raw/safe-human-robot-activity"
            target="_blank" rel="noopener noreferrer">
                Knowledge Base
            </a>
            <a type="button" class="btn link-button my-1"
            href="http://www.open-ease.org/safe-human-robot-activity-work/"
            target="_blank" rel="noopener noreferrer">
                Publications
            </a>
        </div>
    </div>
</div>
<div class="row w-100">
    <div class="col-md-6 my-2 px-0 pr-md-2">
        <div class="video-container">
            <iframe class="responsive-iframe"
            src="https://www.youtube.com/embed/OYiLTJ8YCPc?feature=oembed"
            frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-md-6 my-2 px-0 pl-md-2">
        <div class="video-container">
            <iframe class="responsive-iframe"
            src="https://www.youtube.com/embed/M5jwRmjk4ZM?feature=oembed"
            frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
{% endblock %}


{% block details %}
<div class="row">
    <div class="col-md-7 col-lg-12 px-0">
        <p>
            The Safe Human-Robot Activity dataset contains information from an experiment in which a robot shares its workspace with a human co-worker. It contains poses of perceived human body parts, estimated external forces acting on the robot arms, the robot joint state, and semantic descriptions of performed actions and safety reactions. We believe that recalling safety-related events through such a knowledge base will make robots safety-aware.
        </p>
    </div>
    <div class="col-md-5 col-lg-12 px-0 pl-md-3 pl-lg-0 my-lg-2">
        <center>
            <a href="{{ url_for('static', filename='img/overview/safe-human-robot-activity/alexis_real_pose.png')}}">
                <img class="col-12 col-lg-6 px-0 mb-3"
                src="{{ url_for('static', filename='img/overview/safe-human-robot-activity/alexis_real_pose.png')}}"
                alt="">
            </a>
            <p class="px-3 mb-md-0">
                Visualization of a safety-critical event in the knowledge base.
            </p>
        </center>
    </div>
</div>
<h3>
    Description of the Data
</h3>
<p>
    This dataset contains the following data:
</p>
<ul class="details-list">
    <li>
        Semantic memory of issued actions, parametrizations, and outcomes from executive to motor controllers
    </li>
    <li>
        Motor controller safety reactions: Detected collisions, i.e. strength and detecting sensor, with automatically triggered reactions, e.g. soft stop, hard stop
    </li>
    <li>
        3D position and orientation of all links of the robot over time
    </li>
    <li>
        3D position and orientation of all perceived links of the human co-worker over time
    </li>
    <li>
        Meta-data describing the hardware used, the assumed human model, the experiment conducted, a short description, and the experiment’s length
    </li>
</ul>
{% endblock %}


{% block acknowledgements_class %}
{% endblock %}

{% block acknowledgements %}
<p>
    The development of the safety-aware knowledge base has received funding from the EU FP7 SAPHARI project:
</p>
<div class="row pt-md-3 pb-4 justify-content-center">
    <a class="pb-md-0 mx-md-3" href="http://saphari.eu/"
    target="_blank" rel="noopener noreferrer">
        <img id="saphari-logo" class="col-12 pb-3"
        src="{{ url_for('static', filename='img/overview/acknowledgements/saphari-cover.png')}}"
        alt="saphari logo">
    </a>
</div>
{% endblock %}
