html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: none repeat scroll 0% 0% #dadada;
  overflow: auto;
}

@import 'navbar';
@import 'menu-bar';


/*****************************************/
/*****************************************/

/* Container holding the complete page (without menu and navbar) */
#container,
#page {
  height: -o-calc(100% - 82px); /* opera */
  height: -webkit-calc(100% - 82px); /* google, safari */
  height: -moz-calc(100% - 82px); /* firefox */
  height: calc(100% - 82px); /* firefox 53 and newer*/
  width: 100%;
  position: absolute;
  left: 0px;
  top: 19px;
  padding: 0;
  margin: 0;
  background-color: #dadada;
  padding-left: 5px;
  margin-top: 63px;
  overflow: hidden;
}
.container-background,
.page-background {
  background-image: url(oe-logo.svg);
  background-position: right bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: -o-calc(100% - 10px); /* opera */
  height: -webkit-calc(100% - 10px); /* google, safari */
  height: -moz-calc(100% - 10px); /* firefox */
  height: calc(100% - 10px); /* firefox 53 and newer */
}

.container-centered,
.page-centered {
  width: 80%;
  margin: 0 auto;
}


/* Area at the top of the page */
.headline { margin-top: 10px !important;}
#page-body { margin-top: 20px !important;}

.content-box {
  background-color: #f3f3ef;
  border: 1px solid #a9a9b2;
  box-shadow: 5px 5px 5px #888;
  padding:5px;
  font-size:15px;
  text-decoration:none;
  font-family: Tahoma, Geneva, sans-serif;
  padding: 12px;
}

.content-box a { color: #4C7FD2; }
.content-box a:hover { text-decoration: underline; }
.content-box-header {
  color: #144F78;
  font-family: Oswald,Arial,Helvetica,sans-serif;
  padding-bottom: 12px;
  padding-top: 0px;
  margin: 0 !important;
}
.content-box-header:hover .content-box-toggle {
  width: 40px;
  height: 40px;
  margin: 5px;
}
.content-box-header a {
  outline: 0 !important;
  text-decoration: none !important;
}
.content-box-header a:active { color: #4C7FD2; }
.content-box-toggle {
  margin: 10px;
  width: 30px;
  height: 30px;
  float: left;
  -webkit-transition: all 0.25s ;
  -moz-transition: all 0.25s ;
  -o-transition: all 0.25s ;
  -ms-transition: all 0.25s ;
  transition: all 0.25s ;
}

/* Some content boxes on different pages */
#user-data-box {
  width: 350px;
  max-width: 100%;
  word-wrap: break-word;
  float: left;
}
#user-data-box dt {
  float: left;
  clear: left; 
  width: 35%;
  padding: 4px;
  font-weight: bold;
  color: #144F78;
  text-align: right;
}
#user-data-box  dd {
  float: left;
  width: 65%;
  padding: 4px;
}
#video-box { float: right; max-width: 100%; }
#forgot-password-box { width:400px; float: left; }
#register-box { width:300px; float: left; }
#sign-up-button { color: #fff; }
a.btn {
  border: none !important;
  text-decoration: none !important;
}

/*****************************************/
/********* Knowledge base page ***********/
/*****************************************/

@import 'replay-page';


/*****************************************/
/************* Editor page ***************/
/*****************************************/

#editor{
  width:100%;
  height:100%;
  border-color:#c9c9c9;
  font-size:16px;
}

.pkg-menu {
  width: 100%;
  height: 35px;
}
.pkg-menu li {
  width: 100%;
}
.pkg-menu a {
  text-decoration: none;
}
#pkg-selection {
  width: 100%;
  top: 33px;
}
#pkg-value {
  text-align: center;
  padding: 6px;
  font-weight: bold;
  background: #c9c9c9;
  border-bottom: 3px solid #CCC;
}
/* Slide menu from top */
.pkg-menu ul {
  margin-top: -20px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.pkg-menu:hover ul {
  margin-top: 0px;
}

/*****************************************/
/*****************************************/

.ui-layout-center {
    border: 0px none;
}
.ui-layout-west {
    border: 0px none;
}
.ui-layout-east {
    border: 0px none;
}

.content-frame {
  display: block;
}
.selected-menu {
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px #abc;
}
.selected-frame {
}

.ace_comment {
  color: #0003FF !important;
}

#library {
  padding: 0px;
  width: 100%;
  border: 0px none;
}
#library_top {
  width: 100%;
  height: -o-calc(100% - 30px); /* opera */
  height: -webkit-calc(100% - 30px); /* google, safari */
  height: -moz-calc(100% - 30px); /* firefox */
  height: calc(100% - 30px); /* firefox 53 and newer*/
  overflow: auto;
}
#library_bottom {
  position: relative;
  width: 100%;
  height: 30px;
}
#library_content {
  width: 100%;
  overflow: auto;
}
#library_buttons {
  width:100%;
  height:100%;
  background-color:#dadada;
}

#library-editor-content {
  overflow: auto;
  margin-top: 40px;
  height: 93%;
}

.library_textarea {
  width:100%;
  height:500px;
  resize:none;
  border:medium none;
  background-color: #bbb;
  color: #333;
  border: 1px solid #013C65;
}

.library-editor-button {
  float: right;
  height: 30px;
  width: 30px;
  opacity: 0.2;
}
.library-editor-button:hover,
.library-editor-button:focus {
  opacity: 1.0;
  cursor: pointer;
}

.library-editor-header {
  float: left;
  height: 30px;
  font-size:20px;
  font-weight:bold;
}

/****** QUERY LIBRARY ******/
.query_lib_header {
  width: 100%;
  text-align: left;
  border: 0px none;
  font-weight:bold;
  font-size:20px;
  padding-left: 4px;
  padding-right: 4px;
  color: #013C65;
}
.query_lib_space {
  height: 20px;
}
.query_lib_button {
  width: 100%;
  border: 0px none;
  padding: 4px;
  border: 0px none;
  font-family: 'Tahoma';
  font-size: 15px;
  text-align: left;
}
.query_lib_button:focus {
  background-color: #346F98;
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 4px;
  padding-right: 4px;
  border-top: 1px solid #013C65;
  border-bottom: 1px solid #013C65;
}

@import 'teaching';

/****** CONSOLE ******/

#designator {
  width:100%;
  height:100%;
  overflow-y: auto;
}

#file-list {
  margin-top: 10px;
  font-size: 16px;
}

.media {
  height: 60px;
  padding: 0;
  margin: 0;
  float: left;
}

#logo_container{
  text-align: center;
}

#msg_container{
  width: 200px;
  float: right;
  height: 100%;
  background: none repeat scroll 0% 0% #dadada;
  border-left: 1px solid #AAA;
  text-align: left;
  overflow: auto;
}

.image_view {
  background-color:black;
  width: 100%;
  height: 100%;
}

.image_view img {
  position: relative;
  left:0%;
  top:50%;
  transform:translate(0%,-50%);
  -webkit-transform:translate(0%,-50%);
  margin-left: auto;
  margin-right: auto;
}

.image_view video {
  position: relative;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
}

#mjpeg_image:-webkit-full-screen { transform:translate(0%,0%); -webkit-transform:translate(0%,0%); }
#mjpeg_image:-moz-full-screen { transform:translate(0%,0%); -webkit-transform:translate(0%,0%); }
#mjpeg_image:-ms-full-screen { transform:translate(0%,0%); -webkit-transform:translate(0%,0%); }
#mjpeg_image:-o-full-screen { transform:translate(0%,0%); -webkit-transform:translate(0%,0%); }
#mjpeg_image:full-screen { transform:translate(0%,0%); -webkit-transform:translate(0%,0%); }

#grid .k-grid-header {
   padding: 0 !important;
}
#grid .k-grid-content {
   overflow-y: visible;
}

.div-overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 1002;
  pointer-events: none;
}

.fs-overlay {
  top: 19px;
  margin-top: 63px !important;
}

.div-overlay div {
  position: relative;
  opacity: 1.0;
}

.tut_textarea {
    width:100%;
    height:500px;
    resize:none;
    border:medium none;
}

#tut_nav {
    position:relative;
    bottom:0;
    width:auto;
    height:25px;
    padding-bottom:10px;
}

.course_list {
  padding: 0px;
}
.exercise_list {
  padding: 0px;
}

#exercise-list,
#course-list,
.tut_cat_link,
.tut_cat_link:hover {
  font-family: 'Oswald', sans-serif;
  color: #000 !important;
  text-decoration: none;
  font-size: 18px !important;
  cursor: pointer;
}
#exercise-list:hover,
#course-list:hover,
.tut_cat_link:hover {
  color: #3333aa !important;
}

.k-button,
.k-button:hover{
  border: 1px solid #AAA !important;
  min-width: 80px !important;
  margin: 2px  !important;
}

li.zero_size,
.zero_size {
  padding: 0 !important;
  margin: 0 !important;
  width: 0 !important;
  height: 0 !important;
}

.hidden-form {
  display: none !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

.clear {
   float: none;
   clear: both;
   height: 0;
}

.field-hint {
  margin-right: 15px;
  text-align: right;
}

.aligned-left { float: left; }
.aligned-right { float: right; }

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99999; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    margin-top: 8px;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 90%;
}

#dom-highlight {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    background-color: rgba(24, 122, 218, 0.4);
    pointer-events: none;
}

#no-diff {
  font-size: 16px;
  text-align: center;
}

.icon_bookmark  { background: url("../../../icons/theme/bookmark-new.png") center / 24px no-repeat; }
.icon_close     { background: url("../../../icons/theme/window-close.png") center / 24px no-repeat; }
.icon_camera    { background: url("../../../icons/theme/camera-web.png") center / 24px no-repeat; }
.icon_cloud     { background: url("../../../icons/theme/cloud.png") center / 24px no-repeat; }
.icon_error     { background: url("../../../icons/theme/dialog-error.png") center / 24px no-repeat; }
.icon_question  { background: url("../../../icons/theme/dialog-question.png") center / 24px no-repeat; }
.icon_warning   { background: url("../../../icons/theme/dialog-warning.png") center / 24px no-repeat; }
.icon_open      { background: url("../../../icons/theme/document-open.png") center / 24px no-repeat; }
.icon_save      { background: url("../../../icons/theme/document-save.png") center / 24px no-repeat; }
.icon_send      { background: url("../../../icons/theme/document-send.png") center / 24px no-repeat; }
.icon_edit      { background: url("../../../icons/theme/edit.png") center / 24px no-repeat; }
.icon_clear     { background: url("../../../icons/theme/edit-clear.png") center / 24px no-repeat; }
.icon_copy      { background: url("../../../icons/theme/edit-copy.png") center / 24px no-repeat; }
.icon_cut       { background: url("../../../icons/theme/edit-cut.png") center / 24px no-repeat; }
.icon_delete    { background: url("../../../icons/theme/edit-delete.png") center / 24px no-repeat; }
.icon_find      { background: url("../../../icons/theme/edit-find.png") center / 24px no-repeat; }
.icon_paste     { background: url("../../../icons/theme/edit-paste.png") center / 24px no-repeat; }
.icon_redo      { background: url("../../../icons/theme/edit-redo.png") center / 24px no-repeat; }
.icon_select    { background: url("../../../icons/theme/edit-select-all.png") center / 24px no-repeat; }
.icon_undo      { background: url("../../../icons/theme/edit-undo.png") center / 24px no-repeat; }
.icon_docs      { background: url("../../../icons/theme/emblem-documents.png") center / 24px no-repeat; }
.icon_important { background: url("../../../icons/theme/emblem-important.png") center / 24px no-repeat; }
.icon_shared    { background: url("../../../icons/theme/emblem-shared.png") center / 24px no-repeat; }
.icon_folder    { background: url("../../../icons/theme/folder.png") center / 24px no-repeat; }
.icon_download  { background: url("../../../icons/theme/folder-download.png") center / 24px no-repeat; }
.icon_upload    { background: url("../../../icons/theme/folder-upload.png") center / 24px no-repeat; }
.icon_remote    { background: url("../../../icons/theme/folder-remote.png") center / 24px no-repeat; }
.icon_down      { background: url("../../../icons/theme/go-down.png") center / 24px no-repeat; }
.icon_next      { background: url("../../../icons/theme/go-next.png") center / 24px no-repeat; }
.icon_prev      { background: url("../../../icons/theme/go-previous.png") center / 24px no-repeat; }
.icon_up        { background: url("../../../icons/theme/go-up.png") center / 24px no-repeat; }
.icon_add       { background: url("../../../icons/theme/list-add.png") center / 24px no-repeat; }
.icon_remove    { background: url("../../../icons/theme/list-remove.png") center / 24px no-repeat; }
.icon_attachment{ background: url("../../../icons/theme/mail-attachment.png") center / 24px no-repeat; }
.icon_replied   { background: url("../../../icons/theme/mail-replied.png") center / 24px no-repeat; }
.icon_unread    { background: url("../../../icons/theme/mail-unread.png") center / 24px no-repeat; }
.icon_pause     { background: url("../../../icons/theme/media-playback-pause.png") center / 24px no-repeat; }
.icon_start     { background: url("../../../icons/theme/media-playback-start.png") center / 24px no-repeat; }
.icon_stop      { background: url("../../../icons/theme/media-playback-stop.png") center / 24px no-repeat; }
.icon_record    { background: url("../../../icons/theme/media-record.png") center / 24px no-repeat; }
.icon_server    { background: url("../../../icons/theme/network-server.png") center / 24px no-repeat; }
.icon_settings  { background: url("../../../icons/theme/preferences-system.png") center / 24px no-repeat; }
.icon_run       { background: url("../../../icons/theme/system-run.png") center / 24px no-repeat; }
.icon_home      { background: url("../../../icons/theme/user-home.png") center / 24px no-repeat; }
.icon_trash     { background: url("../../../icons/theme/user-trash.png") center / 24px no-repeat; }
.icon_fullscreen{ background: url("../../../icons/theme/view-fullscreen.png") center / 24px no-repeat; }
.icon_zoom_in   { background: url("../../../icons/theme/zoom-in.png") center / 24px no-repeat; }
.icon_zoom_orig { background: url("../../../icons/theme/zoom-original.png") center / 24px no-repeat; }
.icon_zoom_out  { background: url("../../../icons/theme/zoom-out.png") center / 24px no-repeat; }
.icon_diff      { background: url("../../../icons/theme/diff.png") center / 24px no-repeat; }
.icon_reset     { background: url("../../../icons/theme/reset.png") center / 24px no-repeat; }

.icon_facebook  { background: url("../../../icons/facebook.png") center / 24px no-repeat; }
.icon_twitter   { background: url("../../../icons/twitter.png") center / 24px no-repeat; }
.icon_github    { background: url("../../../icons/github.png") center / 24px no-repeat; }
.icon_google    { background: url("../../../icons/google.png") center / 24px no-repeat; }

/** Kendo grid **/

.k-grid tbody tr {
    cursor: move;
}

.placeholder {
  outline-style: dashed;
  outline-width: 1px;
  outline-color: red;
}

/** diff **/

.diff-source {
    display: inline;
    background-color: #BFB;
}

.diff-target {
    display: inline;
    background-color: #ffbbbb;
}

/** remote apps **/

.remote-login-box {
  float: left;
  border: 1px solid #c8afaf;
  border-radius: 7px;
  margin-top: 10px;
}

.remote-login-header {
  float: left;
  font-size: 18px;
  color: #144F78;
  font-family: Oswald,Arial,Helvetica,sans-serif;
  padding: 4px;
  margin-top: 4px;
  margin-left: 6px;
}

.remote-login-button {
  float: left;
  border: none;
  height: 34px;
  width: 34px;
  margin: 4px;
}

/** jquery dialogs **/

#dialog select {
  width: 100%;
  display: inline-block;
  border: 1px solid #c7c7c7;
  border-radius: 4px;
  height: 28px;
  line-height: 28px;
  margin-top: 10px;
  background: -moz-linear-gradient(top,  #fefefe 0%, #eeeeee 100%);
  background: -webkit-linear-gradient(top,  #fefefe 0%,#eeeeee 100%);
  background: -ms-linear-gradient(top,  #fefefe 0%,#eeeeee 100%);
  background: linear-gradient(to bottom,  #fefefe 0%,#eeeeee 100%);
}

.dialog-prompt {
  width: 100%;
  font-size:15px;
  font-family: Tahoma, Geneva, sans-serif;
}

.dialog-note {
  width: 100%;
  background: #f1f393;
  border: 1px solid #a9a9b2;
  margin-top: 10px;
  padding: 4px;
  border-radius: 4px;
}
.dialog-note::before {
  content: "NOTE: ";
  font-weight: bold;
} 

@import 'adt-designator';




