{% extends "base.html" %}

{% block head %}
<title>Content Settings</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/SCSS/content_settings.css') }}"/>

<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip({trigger:'focus'})
    })
</script>
{% endblock %}

{% block body %}
<div class="container p-4">
    <div class="row mb-4 justify-content-center">
        <h1 class="text-center">Content Management</h1>
    </div>
    <div class="row">
        <div class="col-lg-4 row content-block mx-0 flex-column">
            <h2 class="text-center mb-1">
                <u>General</u>
            </h2>
            <div class="row mx-0 mt-2 flex-column">
                <h3>Status</h3>
                <table class="table table-hover mb-3">
                    <tbody>
                        <tr>
                            <th scope="row">
                                Download Default Papers
                                <button type="button" class="btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Determines whether the default papers should be downloaded when loading the default files for the publications. Works only if a download-Url for the file is provided (s. Publications & Papers Urls).">
                                    <i class="far fa-question-circle"></i>
                                </button>
                            </th>
                            {% if content_settings.download_default_papers -%}
                            <td>
                                ON
                            </td>
                            <td>
                                <a href="{{ url_for('turn_off_download_default_papers') }}" class="btn btn-primary">
                                    <b>Turn OFF</b>
                                </a>
                            </td>
                            {% else -%}
                            <td>
                                OFF
                            </td>
                            <td>
                                <a href="{{ url_for('turn_on_download_default_papers') }}" class="btn btn-primary">
                                    <b>Turn ON</b>
                                </a>
                            </td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th scope="row">
                                Prepare Downloadable Files
                                <button type="button" class="btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Determines whether downloadable files should be provided after loading content files. These files might be useful for debugging or when default files in the main repository should be replaced.">
                                    <i class="far fa-question-circle"></i>
                                </button>
                            </th>
                            {% if content_settings.prepare_downloadable_files -%}
                            <td>
                                ON
                            </td>
                            <td>
                                <a href="{{ url_for('turn_off_prepare_downloadable_files') }}" class="btn btn-primary">
                                    <b>Turn OFF</b>
                                </a>
                            </td>
                            {% else -%}
                            <td>
                                OFF
                            </td>
                            <td>
                                <a href="{{ url_for('turn_on_prepare_downloadable_files') }}" class="btn btn-primary">
                                    <b>Turn ON</b>
                                </a>
                            </td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row flex-column mx-0 mb-4">
                <h3>Manual Actions</h3>
                <div class="row m-0">
                    {% if content_settings.update_state_neem_overview == UpdateState.PAUSED or content_settings.update_state_publications_and_papers == UpdateState.PAUSED -%}
                    {% if publications_url_is_not_set -%}
                    <a href="{{ url_for('resume_all_update_jobs') }}" class="col btn btn-primary disabled m-1">
                    {% else -%}
                    <a href="{{ url_for('resume_all_update_jobs') }}" class="col btn btn-primary m-1">
                    {% endif %}
                        Resume all Update Jobs
                    </a>
                    <button type="button" class="col-auto btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Resumes update jobs for all content. This will not immediately trigger the updates to run. Instead updates will be run in their respective intervals. Files for neem-overview will be updated every full hour that is divisible by three (3, 6, 9, etc.), while publications will be updated daily at 3 a.m.">
                        <i class="far fa-question-circle"></i>
                    </button>
                    {% endif %}
                    {% if content_settings.update_state_neem_overview == UpdateState.ACTIVE or content_settings.update_state_publications_and_papers == UpdateState.ACTIVE -%}
                    <a href="{{ url_for('pause_all_update_jobs') }}" class="col btn btn-warning m-1">
                        Pause all Update Jobs
                    </a>
                    <button type="button" class="col-auto btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Pauses update jobs for all content. Current content will remain accessible (they will not be replaced by default files). If an update job is executing at the time of request, it will finish executing before going into pause. This field is disabled if no URL is provided for the publications bibtex-file.">
                        <i class="far fa-question-circle"></i>
                    </button>
                    {% endif %}
                </div>
                <div class="row m-0">
                    {% if publications_url_is_not_set -%}
                    <a href="{{ url_for('manually_load_all_content_updates') }}" class="col btn btn-success disabled m-1 mt-3">
                    {% else -%}
                    <a href="{{ url_for('manually_load_all_content_updates') }}" class="col btn btn-success m-1 mt-3">
                    {% endif %}
                        Update All Content
                    </a>
                    <button type="button" class="col-auto btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Manually trigger an update of all content. This is useful if you want the latest content without waiting for or resuming the update jobs. This field is disabled if no URL is provided for the publications bibtex-file (s. Publications & Papers Urls).">
                        <i class="far fa-question-circle"></i>
                    </button>
                </div>
                <div class="row m-0">
                    <a href="{{ url_for('manually_load_all_default_content') }}" class="col btn btn-outline-secondary m-1">
                        Load All Default Content
                    </a>
                    <button type="button" class="col-auto btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Loads the default content files and deletes content files from previous updates (if any exist). THIS IS NOT REVERSIBLE! This does not pause update jobs, so the default files will be replaced with the next update.">
                        <i class="far fa-question-circle"></i>
                    </button>
                </div>
                <div class="row m-0">
                    <a href="{{ url_for('load_developer_settings') }}" class="col btn btn-secondary m-1 mt-3">
                        Load Developer Settings
                    </a>
                    <button type="button" class="col-auto btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Sets all settings for better development (e.g. faster container start up). Pauses all update jobs, loads all default content, and turns off downloading default papers and preparing downloadable files.">
                        <i class="far fa-question-circle"></i>
                    </button>
                </div>
            </div>
            <div class="row mx-0 flex-column">
                <h3>Publications & Papers Urls</h3>
                <form action="{{ url_for('store_publications_and_papers_urls') }}" method="post">
                    <div class="form-group row flex-column mx-0 mb-1">
                        <div>
                            <label class="font-weight-bold col-form-label">Publications BibTex_Url</label>
                            <button type="button" class="btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Url-location of the publications bibtex file that should be requested during updates. This file provides the data about all EASE publications.">
                                <i class="far fa-question-circle"></i>
                            </button>
                        </div>
                        <div>
                            <input type="text" placeholder=""
                                   class="form-control"
                                   name="bibtex_url" value="{{ content_settings.publications_bibtex_url }}">
                        </div>
                    </div>
                    <div class="form-group row flex-column mx-0 mb-1">
                        <div>
                            <label class="font-weight-bold col-form-label">default_papers.zip Url</label>
                            <button type="button" class="btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Url-location of the default_papers.zip that should be requested when loading default publications. This file contains papers of EASE publications that can be viewed and downloaded on the publications-page. If left empty, users cannot access papers when default publications are loaded.">
                                <i class="far fa-question-circle"></i>
                            </button>
                        </div>
                        <div>
                            <input type="text" placeholder=""
                                   class="form-control" name="default_papers_zip_url" value="{{ content_settings.default_papers_zip_url }}">
                        </div>
                    </div>
                    <div class="form-group row flex-column mx-0">
                        <div>
                            <label class="font-weight-bold col-form-label">papers.zip Url</label>
                            <button type="button" class="btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Url-location of the latest papers.zip that should be requested during updates. This file contains EASE publications that can be viewed and downloaded on the publications-page. If left empty, users cannot access papers when the latest publications are loaded.">
                                <i class="far fa-question-circle"></i>
                            </button>
                        </div>
                        <div>
                            <input type="text" placeholder=""
                                   class="form-control"
                                   name="papers_zip_url" value="{{ content_settings.papers_zip_url }}">
                        </div>
                    </div>
                    <button class="col btn btn-success" type="submit" name="Update"
                            value="Configure">Save</button>
                </form>
            </div>
        </div>
        <div class="col-lg-4 row content-block mx-0 flex-column">
            <h2 class="text-center mb-1">
                <u>Publications</u>
            </h2>
            <div class="row mx-0 mt-2 flex-column">
                <h3>Status</h3>
                <table class="table table-hover mb-3">
                    <tbody>
                        <tr>
                            <th scope="row">
                                Publications Data
                                <button type="button" class="btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Current state of the publications data. Can be either DEFAULT or LATEST.">
                                    <i class="far fa-question-circle"></i>
                                </button>
                            </th>
                            <td>
                                {{ content_settings.content_type_publications.name }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Papers
                                <button type="button" class="btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Current state of the papers for the publications. Can be either DEFAULT, LATEST, NONE if no download URLs are provided for either papers.zip and default_papers.zip (and if download default papers is set to OFF).">
                                    <i class="far fa-question-circle"></i>
                                </button>
                            </th>
                            <td>
                                {{ content_settings.content_type_papers.name }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Update Job Status
                                <button type="button" class="btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Current status of the update job for publications and papers. Can be either ACTIVE or PAUSED.">
                                    <i class="far fa-question-circle"></i>
                                </button>
                            </th>
                            <td>
                                {{ content_settings.update_state_publications_and_papers.name }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Last Update
                                <button type="button" class="btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Displays when publications and papers were updated last. Also displays whether it was done manually or automatically (on start-up or with an update job). If the latest files are not available, this field will say NO_UPDATE.">
                                    <i class="far fa-question-circle"></i>
                                </button>
                            </th>
                            <td>
                                {% if content_settings.last_update_type_publications_and_papers == UpdateMethod.NO_UPDATE -%}
                                -
                                {% else -%}
                                {{ last_update_publications }}
                                {% endif %}
                                <br>
                                {{ content_settings.last_update_type_publications_and_papers.name }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Next Update
                                <button type="button" class="btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Displays when the next update for publications and papers is scheduled (given that the update job is active). Updates are scheduled daily at 3 a.m. If the update job is paused, nothing will be displayed.">
                                    <i class="far fa-question-circle"></i>
                                </button>
                            </th>
                            <td>
                                {% if content_settings.update_state_publications_and_papers == UpdateState.ACTIVE -%}
                                {{ next_update_publications.isoformat(sep=' ') }}
                                {% else -%}
                                -
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row flex-column mx-0 mb-3">
                <h3>Manual Actions</h3>
                <div class="row m-0">
                    {% if content_settings.update_state_publications_and_papers == UpdateState.PAUSED -%}
                    {% if publications_url_is_not_set -%}
                    <a href="{{ url_for('route_resume_publications_job') }}" class="col btn btn-primary disabled m-1">
                    {% else -%}
                    <a href="{{ url_for('route_resume_publications_job') }}" class="col btn btn-primary m-1">
                    {% endif %}
                        Resume Update Job
                    </a>
                    <button type="button" class="col-auto btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Resumes the update job for publications and papers. This will not immediately trigger the update to run, instead the update is run daily at 3 a.m. This field is disabled if no URL is provided for the publications bibtex-file (s. Publications & Papers Urls).">
                        <i class="far fa-question-circle"></i>
                    </button>
                    {% else -%}
                    <a href="{{ url_for('route_pause_publications_job') }}" class="col btn btn-warning m-1">
                        Pause Update Job
                    </a>
                    <button type="button" class="col-auto btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Pauses the update job for publications and papers. Current files will remain accessible (they will not be replaced by default files). If an update job is executing at the time of request, it will finish executing before going into pause.">
                        <i class="far fa-question-circle"></i>
                    </button>
                    {% endif %}
                </div>
                <div class="row m-0">
                    {% if publications_url_is_not_set -%}
                    <a href="{{ url_for('manually_load_publications_updates') }}" class="col btn btn-success disabled m-1 mt-3">
                    {% else -%}
                    <a href="{{ url_for('manually_load_publications_updates') }}" class="col btn btn-success m-1 mt-3">
                    {% endif %}
                        Update Publications & Papers
                    </a>
                    <button type="button" class="col-auto btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Manually trigger an update for publications and papers. This is useful if you want the latest files without waiting for or resuming the update job. This field is disabled if no URL is provided for the publications bibtex-file (s. Publications & Papers Urls).">
                        <i class="far fa-question-circle"></i>
                    </button>
                </div>
                <div class="row m-0">
                    <a href="{{ url_for('manually_load_publications_defaults') }}" class="col btn btn-outline-secondary m-1">
                        Load Defaults
                    </a>
                    <button type="button" class="col-auto btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Loads the default publications and papers (if available) and deletes content files from previous updates (if any exist). THIS IS NOT REVERSIBLE! This does not pause update jobs, so the default files will be replaced with the next update.">
                        <i class="far fa-question-circle"></i>
                    </button>
                </div>
            </div>
            <div class="row flex-column mx-0">
                <h3>Downloads</h3>
                <div class="row m-0">
                    {% if publications_data_json_download_exists -%}
                    <a href="{{ url_for('send_publications_data_json') }}" class="col btn btn-success m-1">
                    {% else -%}
                    <a href="{{ url_for('send_publications_data_json') }}" class="col btn btn-success m-1 disabled">
                    {% endif %}
                        Publications Data (JSON)
                    </a>
                    <button type="button" class="col-auto btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Runtime python dictionary of the publications data as JSON file. This might be useful for debugging.">
                        <i class="far fa-question-circle"></i>
                    </button>
                </div>
                <div class="row m-0">
                    {% if publications_bibtex_download_exists -%}
                    <a href="{{ url_for('send_publications_bibtex') }}" class="col btn btn-success m-1">
                    {% else -%}
                    <a href="{{ url_for('send_publications_bibtex') }}" class="col btn btn-success m-1 disabled">
                    {% endif %}
                        Publications BibTex
                    </a>
                    <button type="button" class="col-auto btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Publications bibtex-file that the program parses to provide the publications data. This might be useful for debugging.">
                        <i class="far fa-question-circle"></i>
                    </button>
                </div>
                <div class="row m-0">
                    {% if papers_zip_download_exists -%}
                    <a href="{{ url_for('send_papers_zip') }}" class="col btn btn-success m-1">
                    {% else -%}
                    <a href="{{ url_for('send_papers_zip') }}" class="col btn btn-success m-1 disabled">
                    {% endif %}
                        Papers
                    </a>
                    <button type="button" class="col-auto btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Zip-file of the currently loaded papers (either papers.zip if status of publications & papers is LATEST or default_papers.zip if status is DEFAULT). This field is disabled if no file for download can be found. This is usually the case if no urls for the files are provided (s. Publications & Papers Urls) and the files were therefore not downloaded.">
                        <i class="far fa-question-circle"></i>
                    </button>
                </div>
                <div class="row m-0">
                    {% if publications_and_papers_zip_download_exists -%}
                    <a href="{{ url_for('send_publications_zip') }}" class="col btn btn-outline-primary m-1">
                    {% else -%}
                    <a href="{{ url_for('send_publications_zip') }}" class="col btn btn-outline-primary m-1 disabled">
                    {% endif %}
                        Download All
                    </a>
                    <button type="button" class="col-auto btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Downloads all of the above files in one zip.">
                        <i class="far fa-question-circle"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 row content-block mx-0 flex-column">
            <h2 class="text-center mb-1">
                <u>Overview Content</u>
            </h2>
            <div class="row mx-0 mt-2 flex-column">
                <h3>Status</h3>
                <table class="table table-hover mb-3">
                    <tbody>
                        <tr>
                            <th scope="row">
                                Overview Data
                                <button type="button" class="btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Current state of the neem-overview data. Can be either DEFAULT or LATEST">
                                    <i class="far fa-question-circle"></i>
                                </button>
                            </th>
                            <td>
                                {{ content_settings.content_type_neem_overview.name }}
                            </td>
                        </tr>
                        <tr class="d-none d-lg-table-row" style="margin-top: 1px;">
                            <th scope="row" style="border-top: none; height: 54px;">
                                &nbsp;
                            </th>
                            <td style="border-top: none">
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Update Job Status
                                <button type="button" class="btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Current status of the update job for neem-overview files (neem markdowns etc.). Can be either ACTIVE or PAUSED.">
                                    <i class="far fa-question-circle"></i>
                                </button>
                            </th>
                            <td>
                                {{ content_settings.update_state_neem_overview.name }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Last Update
                                <button type="button" class="btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Displays when neem-overview files were updated last. Also displays whether it was done manually or automatically (on start-up or with an update job). If the latest files are not available, this field will say NO_UPDATE.">
                                    <i class="far fa-question-circle"></i>
                                </button>
                            </th>
                            <td>
                                {% if content_settings.last_update_type_neem_overview == UpdateMethod.NO_UPDATE -%}
                                -
                                {% else -%}
                                {{ last_update_overview }}
                                {% endif %}
                                <br>
                                {{ content_settings.last_update_type_neem_overview.name }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Next Update
                                <button type="button" class="btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Displays when the next update for neem-overview files is scheduled (given that the update job is active). Updates are scheduled every full hour that is divisible by three (3, 6, 9, etc.). If the update job is paused, nothing will be displayed.">
                                    <i class="far fa-question-circle"></i>
                                </button>
                            </th>
                            <td>
                                {% if content_settings.update_state_neem_overview == UpdateState.ACTIVE -%}
                                {{ next_update_overview.isoformat(sep=' ') }}
                                {% else -%}
                                -
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row flex-column mx-0 mb-3">
                <h3>Manual Actions</h3>
                <div class="row m-0">
                    {% if content_settings.update_state_neem_overview == UpdateState.PAUSED -%}
                    <a href="{{ url_for('route_resume_neem_overview_job') }}" class="col btn btn-primary m-1">
                        Resume Update Job
                    </a>
                    <button type="button" class="col-auto btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Resumes the update job for neem-overview files. This will not immediately trigger the update to run, instead the update is run every full hour that is divisible by three (3, 6, 9, etc.).">
                        <i class="far fa-question-circle"></i>
                    </button>
                    {% else -%}
                    <a href="{{ url_for('route_pause_neem_overview_job') }}" class="col btn btn-warning m-1">
                        Pause Update Job
                    </a>
                    <button type="button" class="col-auto btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Pauses the update job for neem-overview files. Current files will remain accessible (they will not be replaced by default files). If an update job is executing at the time of request, it will finish executing before going into pause.">
                        <i class="far fa-question-circle"></i>
                    </button>
                    {% endif %}
                </div>
                <div class="row m-0">
                    <a href="{{ url_for('manually_load_overview_updates') }}" class="col btn btn-success m-1 mt-3">
                        Update Overview Data & Files
                    </a>
                    <button type="button" class="col-auto btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Manually trigger an update for neem-overview files. This is useful if you want the latest files without waiting for or resuming the update job. ">
                        <i class="far fa-question-circle"></i>
                    </button>
                </div>
                <div class="row m-0">
                    <a href="{{ url_for('manually_load_overview_defaults') }}" class="col btn btn-outline-secondary m-1">
                        Load Defaults
                    </a>
                    <button type="button" class="col-auto btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Loads the default neem-overview files and deletes content files from previous updates (if any exist). THIS IS NOT REVERSIBLE! This does not pause update jobs, so the default files will be replaced with the next update.">
                        <i class="far fa-question-circle"></i>
                    </button>
                </div>
            </div>
            <div class="row flex-column mx-0">
                <h3>Downloads</h3>
                <div class="row m-0">
                    {% if overview_data_json_download_exists -%}
                    <a href="{{ url_for('send_overview_data_json') }}" class="col btn btn-success m-1">
                    {% else -%}
                    <a href="{{ url_for('send_overview_data_json') }}" class="col btn btn-success m-1 disabled">
                    {% endif %}
                        Overview Data (JSON)
                    </a>
                    <button type="button" class="col-auto btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Runtime python dictionary of the neem-overview data as JSON file. This might be useful for debugging.">
                        <i class="far fa-question-circle"></i>
                    </button>
                </div>
                <div class="row m-0">
                    {% if overview_mds_and_imgs_zip_download_exists -%}
                    <a href="{{ url_for('send_overview_mds_and_imgs') }}" class="col btn btn-success m-1">
                    {% else -%}
                    <a href="{{ url_for('send_overview_mds_and_imgs') }}" class="col btn btn-success m-1 disabled">
                    {% endif %}
                        Overview Markdowns & Images
                    </a>
                    <button type="button" class="col-auto btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Zip-file that contains all the markdowns and images displayed on the overview pages.">
                        <i class="far fa-question-circle"></i>
                    </button>
                </div>
                <div class="row m-0">
                    {% if overview_zip_download_exists -%}
                    <a href="{{ url_for('send_overview_zip') }}" class="col btn btn-outline-primary m-1">
                    {% else -%}
                    <a href="{{ url_for('send_overview_zip') }}" class="col btn btn-outline-primary m-1 disabled">
                    {% endif %}
                        Download All
                    </a>
                    <button type="button" class="col-auto btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Downloads all of the above files in one zip.">
                        <i class="far fa-question-circle"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}