{% extends "base.html" %}

{% block head %}
<title>Content Settings</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/SCSS/content_settings.css') }}"/>

<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip({trigger:'focus'})
    })
</script>
{% endblock %}

{% block body %}
<div class="container p-4">
    <div class="row mb-4 justify-content-center">
        <h1 class="text-center">Content Management</h1>
    </div>
    <div class="row">
        <div class="col-lg-4 row content-block mx-0 flex-column">
            <h2 class="text-center mb-1">
                <u>General</u>
            </h2>
            <div class="row mx-0 mt-2 flex-column">
                <h3>Status</h3>
                <table class="table table-hover mb-3">
                    <tbody>
                        <tr>
                            <th scope="row">
                                Download Default Papers
                                <button type="button" class="btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                    <i class="far fa-question-circle"></i>
                                </button>
                            </th>
                            {% if content_settings.download_default_papers -%}
                            <td>
                                ON
                            </td>
                            <td>
                                <a href="{{ url_for('turn_off_download_default_papers') }}" class="btn btn-primary">
                                    <b>Turn OFF</b>
                                </a>
                            </td>
                            {% else -%}
                            <td>
                                OFF
                            </td>
                            <td>
                                <a href="{{ url_for('turn_on_download_default_papers') }}" class="btn btn-primary">
                                    <b>Turn ON</b>
                                </a>
                            </td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th scope="row">
                                Prepare Downloadable Files
                                <button type="button" class="btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                    <i class="far fa-question-circle"></i>
                                </button>
                            </th>
                            {% if content_settings.prepare_downloadable_files -%}
                            <td>
                                ON
                            </td>
                            <td>
                                <a href="{{ url_for('turn_off_prepare_downloadable_files') }}" class="btn btn-primary">
                                    <b>Turn OFF</b>
                                </a>
                            </td>
                            {% else -%}
                            <td>
                                OFF
                            </td>
                            <td>
                                <a href="{{ url_for('turn_on_prepare_downloadable_files') }}" class="btn btn-primary">
                                    <b>Turn ON</b>
                                </a>
                            </td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row flex-column mx-0 mb-4">
                <h3>Manual Actions</h3>
                <div class="row m-0">
                    {% if content_settings.update_state_neem_overview == UpdateState.PAUSED or content_settings.update_state_publications_and_papers == UpdateState.PAUSED -%}
                    {% if publications_url_is_not_set -%}
                    <a href="{{ url_for('resume_all_update_jobs') }}" class="col btn btn-primary disabled m-1">
                    {% else -%}
                    <a href="{{ url_for('resume_all_update_jobs') }}" class="col btn btn-primary m-1">
                    {% endif %}
                        Resume all Update Jobs
                    </a>
                    <button type="button" class="col-auto btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                        <i class="far fa-question-circle"></i>
                    </button>
                    {% endif %}
                    {% if content_settings.update_state_neem_overview == UpdateState.ACTIVE or content_settings.update_state_publications_and_papers == UpdateState.ACTIVE -%}
                    <a href="{{ url_for('pause_all_update_jobs') }}" class="col btn btn-warning m-1">
                        Pause all Update Jobs
                    </a>
                    <button type="button" class="col-auto btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                        <i class="far fa-question-circle"></i>
                    </button>
                    {% endif %}
                </div>
                <div class="row m-0">
                    {% if publications_url_is_not_set -%}
                    <a href="{{ url_for('manually_load_all_content_updates') }}" class="col btn btn-success disabled m-1 mt-3">
                    {% else -%}
                    <a href="{{ url_for('manually_load_all_content_updates') }}" class="col btn btn-success m-1 mt-3">
                    {% endif %}
                        Update All Content
                    </a>
                    <button type="button" class="col-auto btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                        <i class="far fa-question-circle"></i>
                    </button>
                </div>
                <div class="row m-0">
                    <a href="{{ url_for('manually_load_all_default_content') }}" class="col btn btn-outline-secondary m-1">
                        Load All Default Content
                    </a>
                    <button type="button" class="col-auto btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                        <i class="far fa-question-circle"></i>
                    </button>
                </div>
                <div class="row m-0">
                    <a href="{{ url_for('load_developer_settings') }}" class="col btn btn-secondary m-1 mt-3">
                        Load Developer Settings
                    </a>
                    <button type="button" class="col-auto btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                        <i class="far fa-question-circle"></i>
                    </button>
                </div>
            </div>
            <div class="row mx-0 flex-column">
                <h3>Publications & Papers Urls</h3>
                <form action="{{ url_for('store_publications_and_papers_urls') }}" method="post">
                    <div class="form-group row flex-column mx-0 mb-1">
                        <div>
                            <label class="font-weight-bold col-form-label">Publications BibTex_Url</label>
                            <button type="button" class="btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                <i class="far fa-question-circle"></i>
                            </button>
                        </div>
                        <div>
                            <input type="text" placeholder=""
                                   class="form-control"
                                   name="bibtex_url" value="{{ content_settings.publications_bibtex_url }}">
                        </div>
                    </div>
                    <div class="form-group row flex-column mx-0 mb-1">
                        <div>
                            <label class="font-weight-bold col-form-label">default_papers.zip Url</label>
                            <button type="button" class="btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                <i class="far fa-question-circle"></i>
                            </button>
                        </div>
                        <div>
                            <input type="text" placeholder=""
                                   class="form-control" name="default_papers_zip_url" value="{{ content_settings.default_papers_zip_url }}">
                        </div>
                    </div>
                    <div class="form-group row flex-column mx-0">
                        <div>
                            <label class="font-weight-bold col-form-label">papers.zip Url</label>
                            <button type="button" class="btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                <i class="far fa-question-circle"></i>
                            </button>
                        </div>
                        <div>
                            <input type="text" placeholder=""
                                   class="form-control"
                                   name="papers_zip_url" value="{{ content_settings.papers_zip_url }}">
                        </div>
                    </div>
                    <button class="col btn btn-success" type="submit" name="Update"
                            value="Configure">Save</button>
                </form>
            </div>
        </div>
        <div class="col-lg-4 row content-block mx-0 flex-column">
            <h2 class="text-center mb-1">
                <u>Publications</u>
            </h2>
            <div class="row mx-0 mt-2 flex-column">
                <h3>Status</h3>
                <table class="table table-hover mb-3">
                    <tbody>
                        <tr>
                            <th scope="row">
                                Publications Data
                                <button type="button" class="btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                    <i class="far fa-question-circle"></i>
                                </button>
                            </th>
                            <td>
                                {{ content_settings.content_type_publications.name }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Papers
                                <button type="button" class="btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                    <i class="far fa-question-circle"></i>
                                </button>
                            </th>
                            <td>
                                {{ content_settings.content_type_papers.name }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Update Job Status
                                <button type="button" class="btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                    <i class="far fa-question-circle"></i>
                                </button>
                            </th>
                            <td>
                                {{ content_settings.update_state_publications_and_papers.name }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Last Update
                                <button type="button" class="btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                    <i class="far fa-question-circle"></i>
                                </button>
                            </th>
                            <td>
                                {% if content_settings.last_update_type_publications_and_papers == UpdateMethod.NO_UPDATE -%}
                                -
                                {% else -%}
                                {{ last_update_publications }}
                                {% endif %}
                                <br>
                                {{ content_settings.last_update_type_publications_and_papers.name }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Next Update
                                <button type="button" class="btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                    <i class="far fa-question-circle"></i>
                                </button>
                            </th>
                            <td>
                                {% if content_settings.update_state_publications_and_papers == UpdateState.ACTIVE -%}
                                {{ next_update_publications.isoformat(sep=' ') }}
                                {% else -%}
                                -
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row flex-column mx-0 mb-3">
                <h3>Manual Actions</h3>
                <div class="row m-0">
                    {% if content_settings.update_state_publications_and_papers == UpdateState.PAUSED -%}
                    {% if publications_url_is_not_set -%}
                    <a href="{{ url_for('route_resume_publications_job') }}" class="col btn btn-primary disabled m-1">
                    {% else -%}
                    <a href="{{ url_for('route_resume_publications_job') }}" class="col btn btn-primary m-1">
                    {% endif %}
                        Resume Update Job
                    </a>
                    {% else -%}
                    <a href="{{ url_for('route_pause_publications_job') }}" class="col btn btn-warning m-1">
                        Pause Update Job
                    </a>
                    {% endif %}
                    <button type="button" class="col-auto btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                        <i class="far fa-question-circle"></i>
                    </button>
                </div>
                <div class="row m-0">
                    {% if publications_url_is_not_set -%}
                    <a href="{{ url_for('manually_load_publications_updates') }}" class="col btn btn-success disabled m-1 mt-3">
                    {% else -%}
                    <a href="{{ url_for('manually_load_publications_updates') }}" class="col btn btn-success m-1 mt-3">
                    {% endif %}
                        Update Publications & Papers
                    </a>
                    <button type="button" class="col-auto btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                        <i class="far fa-question-circle"></i>
                    </button>
                </div>
                <div class="row m-0">
                    <a href="{{ url_for('manually_load_publications_defaults') }}" class="col btn btn-outline-secondary m-1">
                        Load Defaults
                    </a>
                    <button type="button" class="col-auto btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                        <i class="far fa-question-circle"></i>
                    </button>
                </div>
            </div>
            <div class="row flex-column mx-0">
                <h3>Downloads</h3>
                <div class="row m-0">
                    <a href="{{ url_for('send_publications_data_json') }}" class="col btn btn-success m-1">
                        Publications Data (JSON)
                    </a>
                    <button type="button" class="col-auto btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                        <i class="far fa-question-circle"></i>
                    </button>
                </div>
                <div class="row m-0">
                    <a href="{{ url_for('send_publications_bibtex') }}" class="col btn btn-success m-1">
                        Publications BibTex
                    </a>
                    <button type="button" class="col-auto btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                        <i class="far fa-question-circle"></i>
                    </button>
                </div>
                <div class="row m-0">
                    {% if papers_zip_download_exists -%}
                    <a href="{{ url_for('send_papers_zip') }}" class="col btn btn-success m-1">
                    {% else -%}
                    <a href="{{ url_for('send_papers_zip') }}" class="col btn btn-success disabled m-1">
                    {% endif %}
                        Papers
                    </a>
                    <button type="button" class="col-auto btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                        <i class="far fa-question-circle"></i>
                    </button>
                </div>
                <div class="row m-0">
                    <a href="{{ url_for('send_publications_zip') }}" class="col btn btn-outline-primary m-1">
                        Download All
                    </a>
                    <button type="button" class="col-auto btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                        <i class="far fa-question-circle"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 row content-block mx-0 flex-column">
            <h2 class="text-center mb-1">
                <u>Overview Content</u>
            </h2>
            <div class="row mx-0 mt-2 flex-column">
                <h3>Status</h3>
                <table class="table table-hover mb-3">
                    <tbody>
                        <tr>
                            <th scope="row">
                                Overview Data
                                <button type="button" class="btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                    <i class="far fa-question-circle"></i>
                                </button>
                            </th>
                            <td>
                                {{ content_settings.content_type_neem_overview.name }}
                            </td>
                        </tr>
                        <tr class="d-none d-lg-table-row" style="margin-top: 1px;">
                            <th scope="row" style="border-top: none; height: 54px;">
                                &nbsp;
                            </th>
                            <td style="border-top: none">
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Update Job Status
                                <button type="button" class="btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                    <i class="far fa-question-circle"></i>
                                </button>
                            </th>
                            <td>
                                {{ content_settings.update_state_neem_overview.name }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Last Update
                                <button type="button" class="btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                    <i class="far fa-question-circle"></i>
                                </button>
                            </th>
                            <td>
                                {% if content_settings.last_update_type_neem_overview == UpdateMethod.NO_UPDATE -%}
                                -
                                {% else -%}
                                {{ last_update_overview }}
                                {% endif %}
                                <br>
                                {{ content_settings.last_update_type_neem_overview.name }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Next Update
                                <button type="button" class="btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                    <i class="far fa-question-circle"></i>
                                </button>
                            </th>
                            <td>
                                {% if content_settings.update_state_neem_overview == UpdateState.ACTIVE -%}
                                {{ next_update_overview.isoformat(sep=' ') }}
                                {% else -%}
                                -
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row flex-column mx-0 mb-3">
                <h3>Manual Actions</h3>
                <div class="row m-0">
                    {% if content_settings.update_state_neem_overview == UpdateState.PAUSED -%}
                    <a href="{{ url_for('route_resume_neem_overview_job') }}" class="col btn btn-primary m-1">
                        Resume Update Job
                    </a>
                    {% else -%}
                    <a href="{{ url_for('route_pause_neem_overview_job') }}" class="col btn btn-warning m-1">
                        Pause Update Job
                    </a>
                    {% endif %}
                    <button type="button" class="col-auto btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                        <i class="far fa-question-circle"></i>
                    </button>
                </div>
                <div class="row m-0">
                    <a href="{{ url_for('manually_load_overview_updates') }}" class="col btn btn-success m-1 mt-3">
                        Update Overview Data & Files
                    </a>
                    <button type="button" class="col-auto btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                        <i class="far fa-question-circle"></i>
                    </button>
                </div>
                <div class="row m-0">
                    <a href="{{ url_for('manually_load_overview_defaults') }}" class="col btn btn-outline-secondary m-1">
                        Load Defaults
                    </a>
                    <button type="button" class="col-auto btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                        <i class="far fa-question-circle"></i>
                    </button>
                </div>
            </div>
            <div class="row flex-column mx-0">
                <h3>Downloads</h3>
                <div class="row m-0">
                    <a href="{{ url_for('send_overview_data_json') }}" class="col btn btn-success m-1">
                        Overview Data (JSON)
                    </a>
                    <button type="button" class="col-auto btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                        <i class="far fa-question-circle"></i>
                    </button>
                </div>
                <div class="row m-0">
                    <a href="{{ url_for('send_overview_mds_and_imgs') }}" class="col btn btn-success m-1">
                        Overview Markdowns & Images
                    </a>
                    <button type="button" class="col-auto btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                        <i class="far fa-question-circle"></i>
                    </button>
                </div>
                <div class="row m-0">
                    <a href="{{ url_for('send_overview_zip') }}" class="col btn btn-outline-primary m-1">
                        Download All
                    </a>
                    <button type="button" class="col-auto btn tooltip-btn mr-1" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                        <i class="far fa-question-circle"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}