{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div class="container p-4">
    <div class="card" id="user-data">
        <div class="card-header bg-ease-light">{% trans %}NEEM Hub configuration settings{% endtrans %}</div>
        <div class="card-body">
            <form action="{{ url_for('post_neem_hub_settings') }}" method="post">

                <!-- MONGO_HOST -->
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">MONGO HOST</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="Provide host name for NEEM Hub configuration"
                               class="form-control" name="MONGO_HOST" value="{{ neem_hub.mongo_host }}">
                    </div>
                </div>
                <!-- MONGO_PORT -->
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">MONGO PORT</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="Provide port for NEEM Hub configuration"
                               class="form-control" name="MONGO_PORT" value="{{ neem_hub.mongo_port }}">
                    </div>
                </div>
                <!-- MONGO_DB -->
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">MONGO DB</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="Provide db name for NEEM Hub configuration"
                               class="form-control" name="MONGO_DB" value="{{ neem_hub.mongo_db_name }}">
                    </div>
                </div>
                <!-- MONGO_USER -->
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">MONGO USER</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="Provide user name for NEEM Hub configuration"
                               class="form-control" name="MONGO_USER" value="{{ neem_hub.mongo_user }}">
                    </div>
                </div>
                <!-- MONGO_PASS -->
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">MONGO PASS</label>
                    {# Password field #}
                    {% set field = neem_hub.mongo_pass %}
                    <div id="pw-field" class="col-sm-10 {% if field.errors %}has-error{% endif %}">
                        <input placeholder="Change the password" class="col-sm-6 form-control" id="psw"
                               name="MONGO_PASS"
                               type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                               value="{{ neem_hub.mongo_pass }}" required/>
                        <div class="invalid-feedback">
                            Password is Invalid, it must contain at least one Uppercase, lowercase, and digit. Additionally, it should be atleast 6 characters long.
                        </div>
                        <br></br>
                    </div>
                </div>
                <button class="col-sm-2 btn btn-sm btn-success" type="submit" name="Update"
                        value="Configure">Configure</button>
                <button class="col-sm-2 btn btn-sm btn-primary" type="button"
                        onclick="window.location.href='{{ url_for('render_neems') }}';" name="Cancel"
                        value="Cancel">Cancel</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
