<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/font/font.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/screen.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/iosOverlay.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dataTables.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout-default-1.4.0.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user.css') }}"/>

  <script type="text/javascript" src="{{ url_for('static', filename='openease.js') }}"></script>
  
  <link rel="shortcut icon" href="/static/icons/favicon.png" type="image/x-icon" /> 
  
  {% block head %}{% endblock %}
</head>


<body{% block bodyargs %}{% endblock %}>
  <script type="text/javascript">
    var LEFT_MENU_LIST=[];
    var RIGHT_MENU_LIST=[];
  </script>
  {% block menu %}{% endblock %}
  
  {% block content %}{% endblock %}
</body>
</html>
