{% extends "layout_header.html" %}

{% block head %}
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/font/font.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/css/screen.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/css/layout-default-1.4.0.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/css/user.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/css/dat.gui.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/css/jquery.ui.css') }}"/>
  
  <script type="text/javascript" src="{{ url_for('static', filename='openease.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/google-jsapi.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/DonutChart.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/BarChart.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/TreeDiagram.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/Timeline.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/DataVisClient.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/TaskTreeVisClient.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/array-nonstandard.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/Control.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='lib/utility.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/json_prolog.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/knowrob/EASE.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/knowrob/canvas.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/knowrob/console.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/knowrob/client.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/knowrob/episode.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/knowrob/menu.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/knowrob/MarkerArrayClient.js') }}"></script>
  
  <script type="text/javascript" src="{{ url_for('static', filename='lib/vis/Viewer.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/vis/shader/BasicShader.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/vis/shader/CopyShader.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/vis/shader/FXAAShader.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/vis/shader/SAOShader.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/vis/shader/SSAOShader.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/vis/shader/SepiaShader.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/vis/shader/CelShader.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/vis/shader/OutlineShader.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/vis/shader/UnpackDepthRGBAShader.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/vis/shader/DepthLimitedBlurShader.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/vis/EffectComposer.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/vis/passes/ShaderPass.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/vis/passes/TexturePass.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/vis/passes/ClearPass.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/vis/passes/HighlightingPass.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/vis/passes/RenderPass.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/vis/passes/SAOPass.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/vis/passes/SSAOPass.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/vis/passes/OutlinePass.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/vis/passes/CelShadingPass.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='lib/designator/desig.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/designator/adt.js') }}"></script>
  
  <!-- TODO these throw errors -->
  <script type="text/javascript" src="{{ url_for('static', filename='lib/font/helvetiker_bold.typeface.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/font/helvetiker_regular.typeface.js') }}"></script>
{% endblock %}

{% block content %}
  <script type="text/javascript">
    var auth = '{{ authentication }}';
    var wsproto = 'ws' + (location.protocol === 'https:'?'s':'');
    var rosUrl = wsproto + '://{{ host_url }}/ws/{{ container_name }}/';
    var client = new KnowrobClient({
            flask_user: flask_user,
            ros_url: rosUrl,
            authentication: auth,
            auth_url: '/api/v1.0/auth_by_session',
            meshPath: '/meshes/',
            category: '{{ category }}',
            episode: '{{ exp }}',
            user_interfaces: OPENEASE_USER_IFACES,
            user_interfaces_flat: OPENEASE_USER_IFACES_FLAT,
            menu: menu,
            require_episode: true,
            use_console_overlay: true
        });
    
    $(document).ready(function () {
        client.init();
        $(window).load(client.updateLocation);
        $(window).bind('hashchange', client.updateLocation);
    });
  </script>
  
  <div class="page" id="page" />
  <script type="text/javascript">
    // Declare page frames: Each user interface of openEASE is
    // put into an iframe that is child of #page
    for(var i in OPENEASE_USER_IFACES) {
        var elem = OPENEASE_USER_IFACES[i];
        var frame = document.createElement("iframe");
        frame.id = elem.id+'-frame';
        frame.className = 'content-frame';
        if(elem.interfaces && elem.interfaces[0].src)
            frame.src = elem.interfaces[0].src;
        else
            frame.src = elem.src;
        document.getElementById('page').appendChild(frame);
    };
  </script>
{% endblock %}
