{% extends "openease_base.html" %}

{% block head %}
<style>
    .card-div {
        padding: 5px;
    }

    .card-words-break {
    word-wrap: break-word;
    word-break: break-all;
    }
</style>
{% endblock %}

{% block nav_right %}
    <form class="form-inline">
      <div class="md-form my-0">
        <input name="neem_query" id="neem_query" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      </div>
    </form>
{% endblock %}

{% block body %}
<div class="container-fluid p-4">
  <div class="row">
{% for neem in neems %}
    <div class="col-md-3 col-lg-3 card-div">
      <div class="card">
         <div class="card-header bg-openease-light">
           {{ neem.neem_id }}
        </div>
        <div class="card-body">
        <img src={{ neem.image }}  alt="Avatar" style="width:100%"><br><br>
          <h6 class="card-title">{{ neem.name }}</h6>
          <table class="card-table card-words-break table">
            <tbody>
              {% for activity in neem.activities %}
              <tr>
                <td>Activity</td>
                <td><a href="{{ activity.iri }}" class="card-link">{{ activity.name }}</a>
                </td>
              </tr>
              {% endfor %}
              {% for env in neem.environments %}
              <tr>
                <td>Environment</td>
                <td><a href="{{ env.iri }}" class="card-link">{{ env.name }}</a>
                {% if env.short_name %}
                ({{ env.short_name }})
                {% endif %}
                </td>
              </tr>
              {% endfor %}
              {% for agent in neem.agents %}
              <tr>
                <td>Agent</td>
                <td><a href="{{ agent.iri }}" class="card-link">{{ agent.name }}</a>
                {% if agent.short_name %}
                ({{ agent.short_name }})
                {% endif %}
                </td>
              </tr>
              {% endfor %}
              <tr style="word-wrap: break-word;">
                <td>CreatedBy</td>
                <td>{{ neem.created_by }}</td>
              </tr>
              <tr>
                <td>Keywords</td>
                <td>
                    {% for keyword in neem.keywords %}
                        <span>{{ keyword }}</span>
                        {% if not loop.last %}
                            ,
                        {% endif %}
                    {% endfor %}
                </td>
              </tr>
              <!--tr>
                fixMe: use library to display datetime str into more user friendly way
                <td>CreatedAt</td>
                <td>{{ neem.created_at }}</td>
              </tr-->

              <tr>
                <td>model version</td>
                <td>{{ neem.model_version }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <a href="#" class="card-link" data-toggle="popover" title="{{ neem.name }}" data-placement="top" data-content="{{ neem.description }}">Read More</a>
          <a href={{ neem.downloadUrl }} class="card-link">Download</a>
          <a href="{{ url_for('render_QA_page') }}?neem_id={{ neem.neem_id }}" class="card-link">Explore</a>
        </div>
      </div>
    </div>
{% endfor %}
  </div>
{{ pagination.links }}
</div>

<script>
$(function () {
  $('[data-toggle="popover"]').popover()
});
</script>
{% endblock %}
