{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/SCSS/forget_password.css') }}"/>
{% endblock %}

{% block body %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}

<div class="container">
    <div>
        <div class="forget-password-content">
            <div id="forget-password-div">
                <div id="ease-logo">
                    <a href="http://www.open-ease.org"><img id="ease-logo-enlarged"
                            src="{{ url_for('static', filename='img/logo_openEASE_neu2018.png') }}"></a>
                </div>
                <div class="card" id="setup-forget-password">
                    <div class="forget-password-text card-header"
                    >
                        {% trans %}Reset your Password{% endtrans %}
                    </div>
                    <div class="card-body">
                        <p id="reset-message">Please enter your email below and we'll send you a password reset link</p>
                        <form action="" method="POST" novalidate class="form needs-validation" role="form">
                            {{ form.hidden_tag() }}
                            <div id="user-field" class="form-group">
                                <input placeholder="Email" class="form-control" id="mail" name="mail" type="text"
                                       value="" required autofocus/>
                                <p class="invalid-feedback">
                                    Email is Required.
                                </p>
                            </div>
                            <button id="reset-pw-button" class="btn btn-lg btn-primary btn-block" type="submit">Send
                                Password Reset
                            </button>
                        </form>
                    </div>
                    <div class="card-footer">
                        <p id="sign-in-link">
                            <a href="{{ url_for('user.login') }}">
                                {% trans %}Log In{% endtrans %}</a>
                            <span>or</span>
                            <a href="{{ url_for('user.register') }}">{% trans %}Sign Up {% endtrans %}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/form-js/form_script.js') }}"></script>
{% endblock %}
