{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/SCSS/register.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='js/PasswordVisibilityToggler.js') }}"></script>
{% endblock %}

{% block body %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}

<div class="container">
    <div>
        <div class="register-content">
            <div id="register-div">
                <div id="ease-logo">
                    <a href="http://www.open-ease.org"><img id="ease-logo-enlarged"
                                                            src="{{ url_for('static', filename='img/logo_openEASE_neu2018.png') }}"></a>
                </div>
                <div class="card card-register">
                    <div class="card-header register-text">{% trans %}Create an account{% endtrans %}</div>
                    <div class="card-body">
                        <form action="" method="POST" novalidate formnovalidate class="form" role="form">
                            {{ form.hidden_tag() }}
                            {# Username or Email #}
                            {% set field = form.username %}
                            <div id="user-field" class="form-group {% if field.errors %}has-error{% endif %}">
                                <input placeholder="Username" class="form-control" id="username"
                                       name="username" type="text"
                                       value="" required autofocus/>
                                <div class="invalid-feedback">
                                    Username is Invalid
                                </div>
                            </div>
                            {% if user_manager.enable_email and user_manager.enable_username %}
                            {% set field = form.email %}
                            <div id="user-field" class="form-group {% if field.errors %}has-error{% endif %}">
                                <input placeholder="Email" class="form-control" id="email" name="email" type="email"
                                       value="" title=""/>
                                <div class="invalid-feedback">
                                    Email is Invalid.
                                </div>
                            </div>
                            {% endif %}
                            {# Password field #}
                            {% set field = form.password %}
                            <div id="pw-field" class="form-group input-group {% if field.errors %}has-error{% endif %}">
                                <input placeholder="Password" class="form-control" id="psw" name="password"
                                       type="password" value="" required/>
                                <div class="eye-box">
                                    <a href=""><svg class="fa fa-eye-slash" aria-hidden="true"></svg></a>
                                </div>

                                <div class="invalid-feedback">
                                    Password is Invalid
                                </div>
                            </div>
                            {% if user_manager.enable_retype_password %}
                            <div id="pw-field" class="form-group input-group {% if field.errors %}has-error{% endif %}">
                                <input placeholder="Retype Password" class="form-control" id="retype_password"
                                       name="retype_password" type="password" value="" required/>
                                <div class="eye-box">
                                    <a href=""><svg class="fa fa-eye-slash" aria-hidden="true"></svg></a>
                                </div>
                                
                                <div class="invalid-feedback">
                                    Reset Password is Invalid
                                </div>
                            </div>
                            {% endif %}
                            <!--
                            <div class="form-group">
                                <div class="form-check custom-control custom-checkbox "><input type="checkbox"
                                                                                               class="custom-control-input form-check-input"
                                                                                               id="customCheck1"
                                                                                               value="remember_me"
                                                                                               required>
                                    <label class="custom-control-label" for="customCheck1">
                                        <span id="register-policy">
                                            I accept the <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
                                        </span>

                                    </label>
                                    <div class="invalid-feedback">Please select the checkbox to continue</div>
                                </div>
                            </div>
                            -->
                            <button id="register-button"
                                    class="btn btn-lg btn-primary btn-block"
                                    type="submit">Register
                            </button>
                        </form>
                    </div>
                        {% for error in form.username.errors %}
                            <p class="alert alert-danger"><strong>Error:</strong> {{ error }}</p>
                        {% endfor %}
                        {% for error in form.email.errors %}
                            <p class="alert alert-danger"><strong>Error:</strong> {{ error }}</p>
                        {% endfor %}
                        {% for error in form.password.errors %}
                            <p class="alert alert-danger"><strong>Error:</strong> {{ error }}</p>
                        {% endfor %}
                    <div class="card-footer">
                        <div class="field-hint" id="already-registered-link">
                            {% if user_manager.enable_forgot_password %}
                            <span class="already-registered">Already registered?</span>
                            <a href="{{ url_for('user.login') }}" tabindex='195'>
                                {% trans %}Sign in{% endtrans %}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/form-js/form_script.js') }}"></script>
{% endblock %}
