{% extends "base.html" %}
  
{% block head %}
{% endblock %}

{% block body %}
<div class="container p-4">
    <div class="card" id="user-data">
        <div class="card-header bg-ease-light">{% trans %}Signed in as{% endtrans %}</div>
        <div class="card-body">
            <form class="form-striped">
                <div class="form-group row">
                    <label for="staticUsername" class="col-sm-3 col-md-2 col-form-label font-weight-bold">Username</label>
                    <input type="text" readonly class="col-sm-9 col-md-10 form-control-plaintext" id="staticUsername" value="{{ current_user.username if current_user.username else '-' }}">
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-3 col-md-2 col-form-label font-weight-bold">Email</label>
                    <input type="text" readonly class="col-sm-9 col-md-10 form-control-plaintext" id="staticEmail" value="{{ current_user.email if current_user.email else '-' }}">
                </div>
                <div class="form-group row">
                    <label for="staticToken" class="col-sm-3 col-md-2 col-form-label font-weight-bold">API token</label>
                    <input type="text" readonly class="col-sm-9 col-md-10 form-control-plaintext" id="staticToken" value="{{ session.api_token if session.api_token else '-' }}">
                </div>
                <div class="row px-3">
                    <a href="{{ url_for('render_change_password_get') }}" class="col-sm-4 col-md-3 col-lg-2 btn btn-sm btn-success my-1">Change Password</a>
                    <a href="{{ url_for('create_api_token') }}" class="col-sm-4 col-md-3 col-lg-2 ml-sm-2 btn btn-sm btn-success my-1">Create API Token</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
