
.ease-dark {
  color: #144F78;
  background-color: rgba(200, 234, 255, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.ease-border {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  border-color: #b6d6ff !important;
}

#page-content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width:100%;
  height: -o-calc(100% - 108px); /* opera */
  height: -webkit-calc(100% - 108px); /* google, safari */
  height: -moz-calc(100% - 108px); /* firefox */
  height: calc(100% - 108px); /* firefox 53 and newer*/
}
