<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="{{ url_for('static', filename='openease.js') }}"></script>
    <link type="image/x-icon" rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}"/>

    <script type="text/javascript">
    function FlaskUser(){
        this.username = '{{ current_user.displayname or current_user.username or "anonymous" }}';
        this.mail     = '{{ current_user.email }}';
        this.isLoggedIn = function() {
            return '{{ current_user.is_authenticated }}' == 'True';
        };
        this.isAdmin = function() {
            return '{{ current_user.is_authenticated and current_user.has_role("admin") }}' == 'True';
        };
    };
    const flask_user = new FlaskUser();

    {% if current_user.is_authenticated %}
        const ros_client = new ROSClient({
            flask_user: flask_user,
            ros_url: 'ws' + (location.protocol === 'https:'?'s':'') +
                     '://{{ ros_url }}/ws/{{ ros_container }}/',
            authentication: '{{ ros_auth }}',
            auth_url: '/api/v1.0/auth_by_session'
        });
    {% else %}
        const ros_client = undefined;
    {% endif %}
    let on_ros_connect = undefined;
    function setROSConnectionHandler(on_connect){
        on_ros_connect = on_connect;
    };

    </script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/SCSS/layout.css') }}"/>

    {% block head %}{% endblock %}
</head>

<body
{% block bodyargs %}{% endblock %}>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark" id="ease-navbar">

    {% block navicon %}{% endblock %}

  <a class="navbar-brand ease-brand" href="http://www.open-ease.org">
    <img src="{{ url_for('static', filename='img/oe-logo-small.svg') }}">
    openEASE
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="fas fa-home"></i>
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/QA">
          <i class="fas fa-question"></i>
          Query
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/neems">
          <i class="fas fa-search"></i>
          NEEMs
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tutorials/">
          <i class="fas fa-book-open"></i>
          Tutorials
        </a>
      </li>
    </ul>

{% block nav_right %}{% endblock %}
    <ul class="navbar-nav text-right">
{% if current_user.is_authenticated %}
{% if current_user.has_role('admin') %}
      <!-- Admin Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          <i class="fas fa-user-secret"></i>
          Admin
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{{ url_for('admin_cookie') }}">Cookies</a>
          <a class="dropdown-item" href="{{ url_for('render_neem_hub_settings') }}">NEEM Hub</a>
          <a class="dropdown-item" href="{{ url_for('render_oauth_settings') }}">OAuth</a>
        </div>
      </li>
{% endif %}
      <!-- User Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          <i class="fas fa-user"></i>
          User
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{{ url_for('render_user_data') }}">User Info</a>
          <a class="dropdown-item" href="{{ url_for('user.logout') }}"><span class="fas fa-sign-out-alt"></span> Logout</a>
        </div>
      </li>
{% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('user.register') }}">
          <span class="fas fa-user-plus"></span> Sign Up
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('user.login') }}">
          <span class="fas fa-sign-in-alt"></span> Login
        </a>
      </li>
{% endif %}
    </ul>
  </div>
</nav>

<!-- let all flash messages render here -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="alert-box">
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                <span id="flash_alert_span">{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        </div>
    {% endif %}
{% endwith %}

<div class="content">
    {% block body %}{% endblock %}
</div>

{% block footer %}
<footer id="footer" class="bg-dark text-white-50">
    <!-- copy right text -->
    <!--
    <div class="footer-copyright text-center py-3">
        © <span id="myYear"> </span> Copyright: University of Bremen
        <a id="toggle_button" href="#extended_footer" class="arrow-btn" data-toggle="collapse" aria-expanded="false"
           aria-controls="extended_footer"><i class="fa fa-angle-double-down"></i></a>
    </div>
    -->

    <div id="extended-footer" class="footer container px-0">
        <!--    general info -->
        <div class="row footer-row justify-content-center pt-4">

            <div class="col-sm-8 pb-2 pb-sm-0">
              <div class="row footer-row">
                <div class="col-6 col-lg-3 py-1">
                  <a class="footer-legal-link"
                  href="/terms-of-use">
                    Terms of Use
                  </a>
                </div>
                <div class="col-6 col-lg-3 py-1">
                  <a class="footer-legal-link"
                  href="/citation-policy">
                    Citation Policy
                  </a>
                </div>
                <div class="col-6 col-lg-3 py-1">
                  <a class="footer-legal-link"
                  href="/privacy-policy">
                    Privacy Policy
                  </a>
                </div>
                <div class="col-6 col-lg-3 py-1">
                  <a class="footer-legal-link"
                  href="/imprint">
                    Impressum
                  </a>
                </div>
              </div>

              <hr class="footer-spacer">

              <div class="row footer-row">
                <div class="footer-information col-md-6">
                  <h4 class="">
                    Project Management
                  </h4>
                  <div class="">
                    <p>
                      Prof. Michael Beetz, PhD
                    </p>
                    <p>
                      Prof. Dr. Andreas Breiter
                    </p>
                  </div>
                  <div class="">
                    <p>
                      Dr. habil. Hagen Langer
                    </p>
                    <p>
                      Sabine Veit
                    </p>
                  </div>
                </div>
                <div class="footer-information col-md-6">
                  <h4>Contact Info</h4>
                    <p>
                      Homepage: <a class="footer-link" href="https://ai.uni-bremen.de/"
                      target="_blank" rel="noopener noreferrer">ai.uni-bremen.de</a>
                    </p>
                    <p>
                      E-Mail: <a class="footer-link" href="mailto:ai-office@cs.uni-bremen.de"
                      target="_blank" rel="noopener noreferrer">ai-office@cs.uni-bremen.de</a>
                    </p>
                    <p>
                      Phone: (+49) 421 218 64000
                    </p>
                </div>
              </div>
              
            </div>
        </div>

        <div class="row footer-row justify-content-center">

            <!-- logos -->
            <div class="col-sm-4">

              <!-- Social buttons -->
              <li class="col-md-12 col-sm-12" id="footer-social-buttons">
                <ul class="list-unstyled list-inline text-center mb-0">
                    <li class="list-inline-item">
                        <a href="https://twitter.com/iai_bremen"
                        target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.youtube.com/user/agkiunibremen"
                        target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="http://www.open-ease.org/"
                        target="_blank" rel="noopener noreferrer">
                            <i class="fa fas fa-globe"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/ease-crc"
                        target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                </ul>
              <!-- Social buttons -->

            </div>
            <!-- logos -->
        </div>

        <div class="row footer-row justify-content-center">
          <div class="footer-copyright text-center pb-3">
            © <span id="myYear"> </span> Copyright:
            <a class="footer-link"
            href="https://www.uni-bremen.de/"
            target="_blank" rel="noopener noreferrer">
              University of Bremen
            </a>
          </div>
        </div>

        <!--    general info -->
    </div>

</footer>
<script type="text/javascript" src="{{ url_for('static', filename='js/form-js/copyright_year.js') }}"></script>
{% endblock %}

</body>

<!-- connect to ROS -->
<script>
    if(ros_client) {
        ros_client.connect(function(ros) {
            console.info('Connected to ROS.');
            if(on_ros_connect) {
                on_ros_connect(ros);
            }
        });
    }
</script>

<!-- remove flash alert after 5 seconds -->
<script>
    $("document").ready(function(){
        setTimeout(function(){
            $("div.alert").remove();
        }, 5000); // 5 secs
    });
</script>
</html>

