
#QA-container {
  background-color: #FFF;
}

.blackboard-chevron {
  float: right;
  padding-top: 4px;
  height: 24px;
  transition: .3s transform ease-in-out;
}
.collapsed .blackboard-chevron {
  transform: rotate(90deg);
}

#playback-progress-container {
  width: max-content;
  border-style: solid;
  border-width: 1px;
}
#playback-progress {
  background-color: #c5deff !important;
  border-color: #bed7ec;
  border-radius: 1px;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
}
#playback-progress0 {
  text-align: center;
}
#playback-progress span {
  //width: 300px;
  color: black;
 }
#playback-btn-group {
  color: #154aa1;
}
#playback-btn-group .btn {
  line-height: normal;
}
#playback-widget {
  border: 1px solid #BBB;
  border-top: none;
  background-color: #e1eefd;
  width: max-content;
}
#playback-progress-value {
  position: absolute;
  right: 0;
  left: 0;
}
.playback-toolbar {
}

#input {
  margin-top: 20px;
}

/*
.node {
    stroke: #fff;
    stroke-width: 1.5px;
}
.link {
    stroke: #999;
    stroke-opacity: .6;
}
 */

svg {
  pointer-events: all;
}

.chart {
  background-color: rgb(255, 255, 255);
  outline: thin solid #eaeaea;
}

.node {
  cursor: pointer;
}
.node circle {
  fill: #fff;
  stroke: #508cbd;
  stroke-width: 2px;
}
.node text {
  font: 12px sans-serif;
}
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
