
#console {
  overflow: revert;
}

#user_query {
  width:auto;
  height:28px;
  font-size: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  border-color: #66afe9;
  border-radius: 0.25rem;
  margin: 0px 14px;
  z-index: 2;
}

#query_buttons {
  z-index: 2;
  position: relative;
  top: -26px;
  height: 28px;
  float: right;
  padding: 3px;
  right: 22px;
}

#query_links {
  width:auto;
  margin: 4px 20px 14px 14px;
}

#query_buttons a, #query_links a {
  color: #144F78;
}
#query_buttons a:hover, #query_links a:hover {
  color: #246F98;
}

.dropdown-submenu {
  position: relative;
}
.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}
