
// TODO: define EASE theme here

#ease-navbar{
  background: linear-gradient(to bottom,
          #549FC8 0%,
          #246F98 50%,
          #246F98 51%,
          #144F78 100%);
}

a.ease-brand {
  font-family: 'Oswald', sans-serif;
  color: #FFFFFF;
}

.ease-brand img{
  height: 20px;
}

#ease-logo-enlarged {
    width: 300px;
}

.bg-ease-light {
  background: #549FC8;
  color: white;
}

.bg-ease-dark {
  background: #246F98;
  color: white;
}

.ease-dark {
  color: #144F78;
  background-color: rgba(200, 234, 255, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.ease-border {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  border-color: #b6d6ff !important;
}
