// SCSS for query examples page

@import "commandline";

#examples-header {
    //background-color: #144F78;
    background: linear-gradient(to top, #549FC8 0%, #246F98 30%, #246F98 31%, #144F78 100%);
    border-bottom: 2px solid #a8a8a8;
    width: 100%;
}

#header-content-wrapper {
  margin: 0 auto;
  height: 174px;
  width: 80%;
}

#examples-header-text {
    float: left;
}

#examples-title {
    font-size: 45px;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    line-height: 52px;
    font-weight: 400;
    color: white;
    padding-top: 50px;
    padding-bottom: 5px;
}

#examples-desc {
    font-size: 21px;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-weight: 300;
    line-height: 30px;
    color: white;
    padding-bottom: 37px;
    font-style: italic;
}

.example-section {
  padding-top: 40px;
  padding-bottom: 33px;
  border-bottom: 1px solid #D1D1D1;
  margin: 0 auto;
  width: 80%;
}

.section-title-wrapper {
    width: 1010px;
}

.section-title {
    display: inline-block;
    font-size: 28px;
    color: #777;
    outline: none;
    text-decoration: none;
    font-family: 'Lexia', 'Roboto Slab', Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 5px;
}

.section-chevron {
    display: inline-block;
    font-size: 28px;
    color: #B0B0B0;
    outline: none;
    text-decoration: none;
    font-family: 'Lexia', 'Roboto Slab', Georgia, 'Times New Roman', Times, serif;
}

.section-examples {
    display: inline-block;
}

.example-page {
    display: flex;
    align-items: center;
    float: left;
    padding-right: 30px;
    height: 42px;
    cursor: pointer;
}

.example-card {
    float: left;
    padding-right: 34px;
    padding-top: 20px;
}

.example-card-title {
    font-size: 20px;
    font-weight: bold;
    color: #498bf2;
    outline: none;
    text-decoration: none;
    font-family: 'Lexia', 'Roboto Slab', Georgia, 'Times New Roman', Times, serif;
}

.example-card-text {
    margin: 0 0 10px 0;
    font-size: 14px;
    line-height: 1.5;
    color: #888;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.query-event-catcher {
    z-index: 10;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.query-event-catcher:hover ~ .query-input {
    border: 1px solid #35a7f3;
}
.query-event-catcher:hover ~ .query-button {
    color: #166899;
}

.queries-deck {
    margin: 2px;
}

@media only screen and (min-width: 800px) {
    .example-page, .example-card {
        width: 33%;
    }
}
@media only screen and (max-width: 800px) {
    .example-page, .example-card {
        width: 50%;
    }
}
@media only screen and (max-width: 600px) {
    .example-page, .example-card {
        width: 100%;
    }
}

.example-link {
    text-decoration: none;
    line-height: 1;
    font-size: 18px;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #777;
}

.example-link[aria-expanded="true"] {
    color: #166899;
    font-weight: bold;
}
