@import "login";

.forget-password-content{
  margin-bottom: 0px;
}

#setup-forget-password {
  background-color: #eceff1;
  color: #0277bd;
  width: 430px;
  max-width: 100%;
  margin: 0 auto 20px;
  border-radius: 8px !important;
  box-sizing: border-box !important;
}

#forget-password-div {
  width: 430px;
  max-width: 100%;
  height: auto;
  margin: 20px auto 20px;
}

.forget-password-text {
  text-align: center;
  line-height: 1.5;
  font-size: 1.5em;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #757575;
}

#sign-in-link{
  text-align: center;
  font-size: 1.0em;
}

#sign-in-link span, #reset-message{
  color: #757575;
}


.btn-lg{
  font-size: 1.0em;
}