// main SCSS

// load EASE theme
@import "ease";

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
  background-color: #ffffff;
}

.footer {
  flex-shrink: 0;
}

#flash_alert_span {
  text-align: center;
}
