// main SCSS

// load EASE theme
@import "ease";

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
  background-color: #ffffff;
}

.footer {
  flex-shrink: 0;
}

#footer-social-buttons {
    list-style-type: none;
    padding-top:20px;
}
.footer-copyright {
    padding-top:18px !important;
}

#flash_alert_span {
  text-align: center;
}

.alert-box {
  position: absolute;
  bottom: 40px;
  right: 0px;
  width: 100%;
}
