
.card-div {
  padding: 5px;
}

.card-img-top {
  width: 100%;
  height: 12vw;
  object-fit: cover;
}

.body-container-row-padding {
  padding-bottom: 5px;
}

.card {
  box-shadow: 1px 3px 20px #aaa;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  height: 450px;
}

.card h6 {
  color: #aaa;
  font-size: 0.8em;
}
.card p {
    font-family: 'Poppins', sans-serif;
}

.card-body {
  padding-bottom: 2px;
  height: 380px;
  display: flex;
  flex-direction: column;
}

.neem-name {
  font-size: 1.0rem;
  font-weight: bold;
  display: block;
  margin-top: 6px;
}

.neem-description {
  overflow-y: auto;
  margin: 0;
}
.neem-description::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
.neem-description::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}
.neem-description::-webkit-scrollbar-thumb {
	background-color: #000000;
}

.neem-links {
  font-size: 0.9em;
  display: block;
}

.neem-links a {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 0.8em;
  float: right;
}

.card-icons {
    width: 100%;
    padding: 15px 10px 15px 10px;
    margin: 15px 0;
    font-size: 0.9em;
}

.icons {
    display: inline;
}
