
@import "neem-card";

.neem-card-container {
  padding: 5px;
}
.neem-card {
  height: 450px;
  box-shadow: 1px 3px 20px #aaa;
}

//.neem-card-body {
//  height: 380px;
//}

.body-container-row-padding {
  padding-bottom: 5px;
}
