// SCSS for query answering page

@import "commandline";
@import "canvas";
@import "blackboard";
@import "neem-card";

// disable transitions
.no-transition {
  transition: none;
}

#footer {
  z-index: 1000;
}

#QA-container {
  background-color: #FFF;
  width: 100%;
  height: 100%;
  padding-left: 0;
  overflow-x: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/*************************/
/****** Main content *****/
/*************************/

#qa-content {
  transition: all 0.5s ease;
  padding-bottom: 1.5rem;
  min-height: 86vh;
}

@media only screen and (max-width: 767px) {
  #qa-content {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media only screen and (min-width: 768px) {
  #qa-content {
    padding-left: 250px;
  }
}

.carousel-control-next,
.carousel-control-prev {
  color: #49aee3;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
  color: #246F98;
}

// top of the page
#qa-header {
    margin-top: 10px;
}

// the query field
.query_links {
  padding-top: 4px;
  float: right;
}
.query_links a {
  padding-left: 8px;
  padding-right: 8px;
}
.query-container {
  margin-bottom: 0px !important;
}
.query-button{
  top: 2px;
}
.query-button {
  color: #49aee3;
}
.query-button:hover {
  color: #246F98;
}
.query-input-card {
  border: none;
  box-shadow: none;
}

#query_status {
  padding-top: 4px;
  float: left;
  font-size: 0.8em;
  font-style: italic;
  font-family: sans;
  color: #246F98;
  animation: status 1.5s linear infinite;
}
@keyframes status {
  0% { opacity: 0.3; }
  25% { opacity: 0.9; }
  50% { opacity: 1.0; }
  75% { opacity: 0.9; }
  100% { opacity: 0.3; }
}

/*************************/
/******** Sidebar ********/
/*************************/

#sidebar-container {
  height: 100%;
  overflow-y: auto;
  padding-bottom: 20px;
}
#sidebar-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}
#sidebar-container::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
  padding-bottom: 150px;
}
#sidebar-container::-webkit-scrollbar-thumb {
  background-color: #AAA;
}

#qa-sidebar {
  width: 250px;
  position: fixed;
  top: 56px;
  left: 0px;
  transition: left 0.5s ease;
  z-index: 999;
  height: 100%;
  padding-bottom: 110px;
}

#qa-sidebar-overlay {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  display: none;
}

@media only screen and (max-width: 767px) {
  #qa-sidebar {
    z-index: 1001;
    left: -250px;
    padding-bottom: 0;
  }
  #sidebar-container {
    padding-bottom: 80px;
  }
  body.sidebar-show #qa-sidebar {
    left: 0px;
  }
  body.sidebar-show #qa-content, body.sidebar-show #footer {
    filter: blur(4px);
  }
  body.sidebar-show #qa-sidebar-overlay {
    display: block;
    pointer-events: all;
    z-index: 99;
  }
}

@media only screen and (min-width: 1600px) {
  #qa-sidebar {
    z-index: 1001;
    padding-bottom: 0;
  }

  #sidebar-container {
    padding-bottom: 80px;
  }
}

@media only screen and (min-width: 768px) {
  #sidebar-toggle {
    display: none;
  }
}
#sidebar-toggle .fa-chevron-down {
  transition: .3s transform ease-in-out;
}
body.sidebar-show #sidebar-toggle .fa-chevron-down {
  transform: rotate(-90deg);
}

.side-card {
  margin-top: 14px;
  margin-left: 14px;
  margin-right: 14px;
}
.side-card .card-header {
  font-size: 0.8em;
  font-weight: bold;
  color: #556c77;
  text-align: center;
  background-color: #ecf7fd;
  padding: 4px;
  margin-top: 0px;
  margin-left: -4px;
  margin-right: -4px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
}
.side-card .card-body {
  padding: 6px;
  margin: 8px;
}
.side-card a {
  font-size: 0.8em;
}
.side-card p {
  font-size: 0.9em;
}
.side-card h6 {
  color: #aaa;
  font-size: 0.8em;
}
.side-card .card-footer {
  background-color: #ecf7fd;
  padding: 4px;
}
.side-card .query-input {
  margin-bottom: 5px;
}
.side-card .neem-img {
  height: 120px;
  margin: auto;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 100%;
}

.side-card ul,
.side-card li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}
.side-card li {
  border-left: 0px solid #fff;
  background-color: #fff;
  padding-left: 0px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}
.side-card li a {
  text-decoration: none;
  align-items: center;
  display: flex;
  padding-left: 10px;
  color: #49aee3;
}
.side-card li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.side-card .pull-right {
  font-size: 16px;
  right: 10px;
  position: absolute;
}
.side-card li:hover {
  border-left: 10px solid #b6d6ff;
  background-color: #246F98;
}
.side-card li:hover a {
  color: #ffffff;
}

#funding-carousel {
  margin-top: 1rem;
  margin-bottom: 1.4rem;
}

.carousel-indicators {
    bottom: -24px;
}

.carousel-indicators li {
    background-color: #49aee3;
}

.carousel-indicators .active {
    background-color: #246F98;
}

#funding-carousel-logos {
  height: 70px;
}

.carousel-item-img-big {
  width: 150px;
  height: auto;
  max-height: 70px;
}

#roboearth-logo {
  padding-top: 12px;
}

#refills-logo {
  width: auto;
  height: 70px;
  padding-top: 5px;
  padding-bottom: 10px;
}

#sherpa-logo {
  padding-top: 9px;
}

#saphari-logo {
  padding-top: 6px;
}

.carousel-arrow {
  color: #246F98;
}

.neem-name {
  font-size: 0.9rem;
  padding: 0.2rem 1.8rem 0.3rem 1rem;
}

.neem-meta-data {
  font-size: 0.8rem;
  padding: 0.6rem 0.6rem 0;
}

.neem-description-container {
  padding: 0.5rem;
}

.neem-description-text {
  line-height: normal;
  font-size: 0.8rem;
  max-height: 100px;
  text-align: left;
  margin-bottom: 0;
  overflow-y: auto;
}

#neem-description {
  background-color: white;
  cursor: auto;
}

#neem-description:hover {
  border-left: 0px;
}

.card hr {
  background-color: #49aee3;
  margin: 0.6rem;
}

#selected-entity {
  padding: 6px;
  font-weight: bold;
  font-family: "Droid Serif", "DejaVu Serif", "STIX", serif;
  color: #509dee;
  font-size: 0.7em;
  text-align: center;
  background-color: #ebfaff;
  border-bottom: solid 1px rgba(0, 0, 0, 0.125);
}
.query-quotes {
  display: inline;
  color: #438235;
}

#neem-fav {
  font-size: large;
  right: 5px;
  top: 5px;
  cursor: pointer;
  transition: transform .2s;
  color: rgba(140, 140, 137, 0.5);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #f6fd1a;
}
#neem-fav.liked {
  color: #ffd700;
}
#neem-fav:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#follow-up-list {
  border: 1px solid #b6d6ff;
  max-height: 150px;
  overflow-y: auto;
}
.side-card li:hover #follow-up-list a {
  color: #49aee3;
}
#follow-up-list li:hover a {
  color: #246F98 !important;
}
#follow-up-list li:hover {
  border-left: none;
  background-color: #b6d6ff;
}

// ease-funding

#ease-funding-logo {
  height: 70px;
  width: auto;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.ease-funding-contents a, .ease-funding-contents a:hover{
  font-family: Oswald;
  font-size: 1.1rem;
  color: #246F98;
  text-decoration: none;
}

.ease-funding-contents a p {
  margin-bottom: 0.8rem;
}

// acknowledgement

#acknowledgement-text {
  margin: 0.5rem;
  font-size: 0.6rem;
  line-height: normal;
}
