// SCSS for query answering page

@import "commandline";
@import "canvas";
@import "blackboard";

// disable transitions
.no-transition {
    transition: none;
}

// top of the page
#qa-header {
    margin-top: 10px;
}

// the query field
.query_links {
    width:auto;
    padding-top: 4px;
}
.query_links a {
    padding-left: 8px;
    padding-right: 8px;
}
.query-container {
    margin-bottom: 0px !important;
}
.query-button{
    top: 2px;
}
.query-button {
    color: #49aee3;
}
.query-button:hover {
    color: #246F98;
}
.query-input-card {
    border: none;
    box-shadow: none;
}

/** side panel **/

.side-text {
  font-size: 0.8em;
  font-style: normal;
  font-family: sans;
  color: #1b5668;
  margin-top: 4px;
  text-align: center;
}

#funding-widget {
  background-color: white;
  border: 1px solid #aed1f7;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(154, 183, 227, 0.51);
  margin-top: 14px;
}
#funding-carousel {
}
#funding-carousel-logos {
}
.carousel-indicators {
    bottom: -10px;
}
.carousel-indicators li {
    background-color: #49aee3;
}
.carousel-indicators .active {
    background-color: #246F98;
}
.carousel-item-img-big {
  width: auto;
  height: 70px;
  max-height: 70px;
  padding-top: 6px;
  padding-bottom: 20px;
}


